<q-grid caption="Column Reference Basic"
        [rows]="rows"
        editMode="cell">
	<q-grid-columns>
		<q-grid-column type="reference"
		               key="notEditable"
		               title="Not Editable"
		               [editorOptions]="notEditableOptions"
		               label="Click to show">
		</q-grid-column>
		<q-grid-column type="reference"
		               key="editable"
		               title="Editable"
		               [editorOptions]="editableOptions">
		</q-grid-column>
		<q-grid-column type="reference"
		               key="singleValue"
		               title="Single Value"		               
		               [editorOptions]="singleValueOptions">
		</q-grid-column>
		<q-grid-column type="reference"
		               key="customTemplate"
		               title="Custom Template"
		               [editorOptions]="editableOptions">
			<ng-template for="body"
			             let-$cell
			             let-$view="$view">
				<button style="width: 100%;"
				        mat-button
				        (click)="$view.edit.cell.enter.execute($cell)">
					{{$cell.value.join(', ') || 'EMPTY'}}
				</button>
			</ng-template>
		</q-grid-column>
		<q-grid-column type="reference"
		               key="complexValues"
		               title="Complex Values"
		               [label]="complexValuesLabel"
		               [editorOptions]="complexValuesOptions">
		</q-grid-column>
	</q-grid-columns>
</q-grid>