td.q-grid-array {
	>ul {
		list-style: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		li {
			display: inline-block;
			min-width: 16px;
			padding: 4px 8px;
			text-align: center;
			white-space: nowrap;
			vertical-align: middle;
			background-color: rgb(224, 224, 224);
			border-radius: 16px;
			margin-right: 4px;
		}
		li:last-child {
			margin-right: 0;
		}
	}
}

.q-grid-editor.q-grid-array {
	min-height: 48px;
	width: 340px;
	height: auto;
	.q-grid-array-view {
		max-height: 400px;
		overflow-y: auto;
		overflow-x: hidden;
		.q-grid-array-item {
			margin: 3px 1px 3px 1px;
		}
	}
	.q-grid-array-input {
		margin: 0px 3px 3px 0px;
	}
}