.q-grid-toolbar{
	.q-grid-column-chooser {
		.q-grid-column-chooser-filter{
			margin-top: 18px;
		}
	}
}

.q-grid-column-chooser {
	width: 320px;

	ul {
		list-style-type: none;
		padding: 0;
	}

	mat-checkbox {
		margin: 0 0 10px 0;
	}

	.q-grid-column-chooser-filter {
		margin-left: 4px;
		margin-right: 4px;
		margin-bottom: 0;
		margin-top: 0;
		
		.mat-errors-spacer {
			display: none;
		}
	}

	.q-grid-column-chooser-list {
		margin: 0;
		overflow-y: auto;
		height: 340px;

		mat-input-container {
			margin: 0;
		}
	}
}