@import "body";

tfoot {
	> tr {
		height: $row-height;

		td {
			color: rgb(0, 127, 163) !important;
			background-color: rgba(0, 0, 0, 0.04) !important;
			border-top: 1px $dark-divider solid;
		}
	}
}
