@import "variables";

.q-grid-view {
	thead, tfoot {
		tr {
			height: 56px;
			th {
				&.q-grid-can-sort {
					label {
						cursor: pointer;
					}
				}
			}

			th, td {
				&.q-grid-select {
					md-checkbox {
						margin: 0 0 0 2px; //TODO: investigate why we have offset in 2px
					}

					text-overflow: clip;
				}

				&.q-grid-filter-row {
					md-input-container {
						margin: 0;
						padding: 0;

						.md-errors-spacer {
							min-height: 0 !important;
						}
					}

					input[placeholder] {
						text-overflow: ellipsis;
					}
					input::-moz-placeholder {
						text-overflow: ellipsis;
					}
					input:-moz-placeholder {
						text-overflow: ellipsis;
					}
					input:-ms-input-placeholder {
						text-overflow: ellipsis;
					}
				}

				label {
					display: inline;
				}

				color: $dark-secondary;
				font-size: 12px;
				font-weight: bold;
				padding: 0 16px;

				&:hover {
					label {
						font-weight: bold;
					}
				}
			}
		}
	}
}
