ul.q-grid-legend-list {
	list-style-type: none;
	padding: 0;
	margin: 24px 20px 0 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: rgba(0, 0, 0, 0.87);
	font-size: 13px;

	li {
		margin-right: 20px;
		display: inline;

		&:last-child {
			margin-right: 0;
		}

		.q-grid-legend-item {
			display: inline-block;
		}
	}

}

.q-grid-legend-item {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	margin: auto;
}

.female {
	background: #267ED5;
}

.male {
	background: #22DB7E;
}

.undefined {
	background: #999;
}

