.q-grid-popup-panel {
    mat-card {
        height: 100%;

        mat-card-header {
            .mat-card-header-text {
                width: 100%;
                margin: 0;
            }
            h1 {
                margin-top: 0;
            }
            button {
                margin-top: -10px;
                margin-right: -10px;
            }
        }
        mat-card-actions {
            margin-bottom: 0;
            margin-top: 0;
            padding-bottom: 8px;
        }
    }
}