td.q-grid-group, td.q-grid-row-expand {
	button {
		width: 24px;
		height: 24px;
		line-height: 24px;
		margin: 0;
		padding: 0;
		min-height: 24px;

		md-icon {
			opacity: 0.54;
		}

		+ span {
			vertical-align: middle;;
		}
	}
}

.q-grid-arrow-right {
	transform: rotate(90deg);
}
