td.q-grid-group, td.q-grid-row-expand {
	button {
		background: transparent;
		border: none;
		margin: 0;
		padding: 0;
		outline: none;

		md-icon {
			opacity: 0.54;
		}
	}
}

.q-grid-arrow-right {
	transform: rotate(90deg);
}
