@import "variables";

&.q-grid-box:not(.q-grid-drag) {
	th:hover {
		.q-grid-sort {
			visibility: visible;
		}
	}
}

.q-grid-sort {
	position: absolute;
	display: inline;
	cursor: pointer;
	visibility: hidden;
	font-size: 12px;
	width: 16px;
	outline: none;
	border: none;
	background: transparent;
	padding: 0;
	left: 0;
	margin-top: -1px;

	&.q-grid-active {
		visibility: visible;
		mat-icon {
			color: $dark;
		}

		& + label {
			color: $dark;
		}
	}

	mat-icon {
		color: $dark-secondary;
		font-size: 16px;
		height: 16px;
		width: 16px;
		min-height: 16px;
		min-width: 16px;
	}
}