.q-grid-sort-bar {
	height: 100%;

	label{
		font-weight: bold;
	}

	ul {
		list-style-type: none;
		margin: 0;
		display: inline-block;
		padding: 0;

		li {
			display: inline-block;
		}
	}

	button {
		background: transparent;
		border: none;
		margin-right: 12px;
	}

	select {
		background: transparent;
		border: none;
		width: 90px;
	}

	mat-input-container {
		margin: 0;
	}

	padding: 0 10px;
}
