<ng-template key="body-cell-row-expand.tpl.html" let-$cell let-$view="$view">
	<div class="q-grid-actions">
		<button (mouseup)="$view.rowDetails.toggleStatus.execute($cell.row)"
				  *ngIf="$view.rowDetails.toggleStatus.canExecute($cell.row)"
				  tabindex="-1"
				  class="md-icon-button"
				  md-icon-button>
			<span [ngSwitch]="$view.rowDetails.status($cell.row)">
				<md-icon *ngSwitchCase="'expand'">arrow_drop_down</md-icon>
				<md-icon *ngSwitchCase="'collapse'" class="q-grid-arrow-right" >arrow_drop_up</md-icon>
			</span>
		</button>
	</div>
</ng-template>
