<div ng-cloak class="q-grid-editor q-grid-array">
	<h2 class="md-title">Edit {{::$cell.column.title}}</h2>
	<md-chips ng-model="$view.edit.cell.value"
				 md-removable="'true'"
				 md-enable-chip-edit="'true'">
	</md-chips>
	<div class="q-grid-actions">
		<md-button class="md-primary md-confirm-button" ng-click="$view.edit.cell.commit.execute($cell, $event)">Save</md-button>
		<md-button class="md-primary md-cancel-button" ng-click="$view.edit.cell.cancel.execute($cell, $event)">Cancel</md-button>
	</div>
</div>