<q-grid:popup id="q-grid-reference-popup" ng-init="$popup.show()">
	<q-grid:template for="trigger">
		<span ng-init="$popup.open({width: 350, height: 500})"></span>
	</q-grid:template>
	<q-grid:template for="body" let="[$view, $ctrl, $cell]">
		<div ng-cloak
			  class="q-grid-editor q-grid-reference"
			  layout="column"
			  ng-controller="Body.Cell.Reference.Edit.Controller as $ctrl">
			<div flex="90">
				<q-grid model="$ctrl.gridModel">
					<q-grid:columns>
					</q-grid:columns>
					<q-grid:toolbar>
						<q-grid:template for="top">
							<div class="q-grid-progress">
								<q-grid:progress></q-grid:progress>
							</div>
						</q-grid:template>
					</q-grid:toolbar>
				</q-grid>
			</div>
			<div flex="10" class="q-grid-actions">
				<md-button class="md-primary md-confirm-button" ng-click="$ctrl.commit($cell, $event)">Save
				</md-button>
				<md-button class="md-primary md-cancel-button"
							  ng-click="$ctrl.cancel($cell, $event)">Cancel
				</md-button>
			</div>
		</div>
	</q-grid:template>
	<q-grid:template for="head" let="$cell">
		<h2 class="md-title">Edit {{::$cell.column.title}}</h2>
	</q-grid:template>
</q-grid:popup>