<ng-template key='body-cell-text-edit.tpl.html' let-$cell let-$view="$view">
  <div class="q-grid-editor q-grid-text">
    <md-input-container>
      <input mdInput
             #input
             placeholder="{{$cell.column.title}}"
             maxlength="{{$cell.column.maxLength}}"
             [(ngModel)]="$view.edit.cell.value"
             (blur)="$view.edit.cell.commit.execute($cell)">
      <md-hint align="end">{{input.value.length}} / {{$cell.column.maxLength}}</md-hint>
    </md-input-container>
  </div>
</ng-template>
