<ng-template key="body-cell-row-expand.tpl.html" let-$cell let-$view="$view">
	<div class="q-grid-actions">
		<button (mouseup)="$view.rowDetails.toggleStatus.execute($cell.row)"
				  *ngIf="$view.rowDetails.toggleStatus.canExecute($cell.row)"
				  tabindex="-1"				  
				  mat-icon-button>
			<span [ngSwitch]="$view.rowDetails.status($cell.row)">
				<mat-icon class="q-grid-icon" *ngSwitchCase="'expand'">arrow_drop_down</mat-icon>
				<mat-icon class="q-grid-icon" *ngSwitchCase="'collapse'" class="q-grid-arrow-right" >arrow_drop_up</mat-icon>
			</span>
		</button>
	</div>
</ng-template>
