<ng-template key='edit-cell-array.tpl.html' let-$cell let-$view="$view">
	<div class="q-grid-editor q-grid-array">
		<h2 class="md-title">Edit {{$cell.column.title}}</h2>
		<div class="q-grid-array-view">
			<md-chip-list>
				<md-chip *ngFor="let item of $cell.value" selected="true">{{item}}</md-chip>
			</md-chip-list>
		</div>
		<div class="q-grid-actions">
			<button md-button (click)="$view.edit.cell.commit.execute($cell, $event)">Save</button>
			<button md-button (click)="$view.edit.cell.cancel.execute($cell, $event)">Cancel</button>
		</div>
	</div>
</ng-template>
