<ng-template key='edit-cell-reference.tpl.html'
             let-$cell
             let-$editor
             let-$view="$view">
    <h4 class="md-title"
        style="margin: 0">{{$editor.title}}</h4>
    <div class="q-grid-embed">
        <!--<q-grid class="q-grid-edit-form-reference"
                [model]="$view.body.model">
            <q-grid-columns>
            </q-grid-columns>
            <q-grid-toolbar>
                <q-grid-template for="top">
                    <div class="q-grid-progress">
                        <q-grid-progress></q-grid-progress>
                    </div>
                </q-grid-template>
            </q-grid-toolbar>
        </q-grid>-->
    </div>
</ng-template>