<ng-template key='edit-cell-array.tpl.html' let-$cell let-$view="$view">
	<q-grid-cell-editor class="q-grid-array q-grid-editor q-grid-position"
						(close)="$view.edit.cell.exit.execute($cell)"
						q-grid-position="td">
		<div class="q-grid-array-view">
			<mat-form-field class="demo-chip-list">
				<mat-chip-list matPrefix #chipList>
					<mat-chip *ngFor="let value of $view.edit.cell.value;let $index = index" 
							selectable="true" 
							removable="true" 
							(remove)="$view.edit.cell.value.splice($index, 1)">
						{{value}}
						<mat-icon class="q-grid-icon" matChipRemove>cancel</mat-icon>
					</mat-chip>
				</mat-chip-list>
				<input matInput
					   q-grid-focus
					   [matChipInputFor]="chipList" 					
					   placeholder="Enter {{$cell.column.title}}..." 
					   matChipInputSeparatorKeyCodes="[13]"
					   matChipInputAddOnBlur="true" 
					   (matChipInputTokenEnd)="$event.value.trim() && (($view.edit.cell.value.push($event.value.trim()) || true) && $event.input.value = '')" />
			</mat-form-field>
		</div>
	</div>
</ng-template>