<ng-template key='edit-cell-dropdown.tpl.html'
             let-$cell
             let-$view="$view">
    <div class="q-grid-dropdown"
         q-grid-select>
        <mat-select #select
                    [(ngModel)]="$view.edit.cell.value"
                    (onOpen)="$view.edit.cell.fetch.busy"
                    (onClose)="$view.edit.cell.commit.execute($cell)">
            <mat-option *ngFor="let option of $view.edit.cell.fetch.result"
                        [value]="option">
                {{option}}
            </mat-option>
        </mat-select>
    </div>
</ng-template>