<ng-template key='edit-cell-password.tpl.html'
             let-$cell
             let-$view="$view">
    <q-grid-cell-editor class="q-grid-password q-grid-editor q-grid-position q-grid-text"
                        (close)="$view.edit.cell.exit.execute($cell)"
                        q-grid-position="td">
        <ng-template>
            <mat-form-field>
                <input matInput
                       [type]="'password'"
                       q-grid-focus
                       [(ngModel)]="$view.edit.cell.value" />
            </mat-form-field>
        </ng-template>
    </q-grid-cell-editor>
</ng-template>