<ng-template key='edit-cell-time.tpl.html' let-$cell let-$view="$view">
	<div class="q-grid-editor q-grid-time" q-grid-position="td">
		<mat-form-field>
			<input matInput
					 #input
					 type="time"
					 step="1"
					 q-grid-focus
					 [ngModel] = "$view.edit.cell.value | myTime: 'HH:mm:ss'"
					 (ngModelChange) = "$view.edit.cell.value = timePipe.transform($event)"
					 #model="ngModel"
					 (blur)="$view.edit.cell.commit.execute($cell, $event)">
			<mat-hint align="end">{{input.value.length}} / {{$cell.column.maxLength}}</mat-hint>
		</mat-form-field>
		<br/>
		<span style="color:red">{{model.valid ? '': 'Value is not valid!'}}</span>
		<!--
			<br/> 
			<span style="color:blue">{{$view.edit.cell.value | time: 'HH:mm:ss'}}</span>
		-->
	</div>
</ng-template>
