<ng-template key='edit-cell-row-options.tpl.html' let-$cell let-$view="$view">
	<button aria-label="Open row menu"
				md-icon-button 
				[mdMenuTriggerFor]="menu"
				(onMenuClose)="$view.edit.cell.cancel.execute()"
				q-grid-raise="click">
		<md-icon>more_vert</md-icon>
	</button>
	<md-menu #menu="mdMenu">
		<button md-menu-item 
				*ngFor="let $action of $cell.column.editorOptions.actions"
				(click)="$action.command.execute($cell)" 
				[disabled]="!$action.command.canExecute($cell)">
				<md-icon>{{$action.icon}}</md-icon>
				<span>{{$action.title}}</span>
		</button>
	</md-menu>
</ng-template>