<ng-template key='edit-cell-text.tpl.html'
             let-$cell
             let-$view="$view">
    <q-grid-cell-editor class="q-grid-text q-grid-editor q-grid-position"
                        (close)="$view.edit.cell.exit.execute($cell)"
                        q-grid-position="td">
        <ng-template>
            <mat-form-field>
                <input matInput
                       #input
                       q-grid-focus
                       maxlength="{{$cell.column.maxLength}}"
                       [(ngModel)]="$view.edit.cell.value" />
                <mat-hint align="end">{{input.value.length}} / {{$cell.column.maxLength}}</mat-hint>
            </mat-form-field>
        </ng-template>
    </q-grid-cell-editor>
</ng-template>