<h4 class="md-title" style="margin:0" ng-bind="$editor.cell.column.title"></h4>
<div ng-cloak
	  layout="column"
	  ng-controller="Body.Cell.Reference.Edit.Controller as $ctrl">
	<q-grid class="q-grid-edit-form-reference" model="$ctrl.gridModel">
		<q-grid:columns>
		</q-grid:columns>
		<q-grid:toolbar>
			<q-grid:template for="top">
				<div class="q-grid-progress">
					<q-grid:progress></q-grid:progress>
				</div>
			</q-grid:template>
			<q-grid:template for="bottom">
			</q-grid:template>
		</q-grid:toolbar>
	</q-grid>
</div>