<ng-template key="head-cell-text.tpl.html" let-$cell let-$view="$view">
	<q-grid-column-sort *ngIf="$cell.column.canSort" [column]="$cell.column" class="q-grid-sort">
		<ng-template>
			<label [matTooltip]="$cell.column.title">
				{{$cell.column.title}}
			</label>
		</ng-template>
	</q-grid-column-sort>

	<!-- <button mat-icon-button [matMenuTriggerFor]="filterMenu">
		<mat-icon class="q-grid-icon">filter_list</mat-icon>
	</button>
	<mat-menu #filterMenu="matMenu">
		<div q-grid-stop-propagate="click">
			<q-grid-column-filter [key]="$cell.column.key">
			</q-grid-column-filter>
		</div>
	</mat-menu> -->
</ng-template>