<ng-template key="head-cell-select.tpl.html"
             let-$view="$view">
    <ng-container ngSwitch="$view.selection.mode">
        <ng-container *ngSwitchCase="'single'"
                      ngSwitch="!!$view.selection.items.length">
            <mat-icon class="q-grid-icon"
                      *ngSwitchCase="true">check</mat-icon>
            <mat-icon class="q-grid-icon"
                      *ngSwitchDefault>remove</mat-icon>
        </ng-container>
        <mat-checkbox *ngSwitchDefault
                      [indeterminate]="$view.selection.isIndeterminate()"
                      [checked]="$view.selection.state()"
                      [disabled]="!$view.selection.toggleRow.canExecute()"
                      (change)="$view.selection.toggleRow.execute()"
                      tabindex="-1"
                      aria-label="Select all"
                      class="q-grid-checkbox">
        </mat-checkbox>
    </ng-container>
</ng-template>