<div layout="column"
	  class="q-grid-pivot-bar"
	  q-grid:drop
	  q-grid:on-drop="$pivotBar.drop.execute($event)"
	  q-grid:can-drop="$pivotBar.drop.canExecute($event)">
	<md-input-container>
		<label>Pivot By</label>
		<md-select ng-disabled="!$pivotBar.replace.canExecute()"
					  ng-model="$pivotBar.selectedItems"
					  ng-change="$pivotBar.replace.execute($pivotBar.selectedItems)"
					  multiple>
			<md-option ng-value="column.key"
						  ng-repeat="column in $pivotBar.columns track by column.key"
						  ng-bind="column.title"></md-option>
		</md-select>
	</md-input-container>
</div>