<div layout="column"
	  class="q-grid-sort-bar"
	  q-grid:drop
	  q-grid:on-drop="$sortBar.drop.execute($event)"
	  q-grid:can-drop="$sortBar.drop.canExecute($event)">
	<md-input-container>
		<label>Sort By</label>
		<md-select ng-disabled="!$sortBar.replace.canExecute()"
					  ng-model="$sortBar.selectedItems"
					  ng-change="$sortBar.replace.execute($sortBar.selectedItems)"
					  multiple>
			<md-option ng-value="column.key"
						  ng-repeat="column in $sortBar.columns track by column.key"
						  ng-bind="column.title"></md-option>
		</md-select>
	</md-input-container>
</div>