<div class="q-grid-column-filter-panel" layout="column" flex="100">
	<div flex="none" layout="row">
		<md-input-container class="q-grid-column-filter-filter">
			<label>Search</label>
			<input type="text"
					 ng-change="$columnFilterPanel.resetItems.execute()"
					 ng-model="$columnFilterPanel.filter"
					 ng-model-options="{debounce: 500}"
					 q-grid:focus/>
		</md-input-container>
	</div>
	<div flex>
		<ul>
			<li>
				<md-checkbox ng-click="$columnFilterPanel.toggleAll.execute()"
								 ng-checked="$columnFilterPanel.stateAll()"
								 md-indeterminate="$columnFilterPanel.isIndeterminate()">
					Select All
				</md-checkbox>
			</li>
			</li>
		</ul>
		<div class="q-grid-column-filter-list" vscroll>
			<ul vscroll-port-y="$columnFilterPanel.vscrollContext">
				<li
					ng-repeat="item in $columnFilterPanel.items | vscroll: $columnFilterPanel.vscrollContext track by $index"
					vscroll-row="{{::$index}}">
					<md-checkbox ng-checked="$columnFilterPanel.state(item)"
									 ng-if="$columnFilterPanel.toggle.canExecute(item)"
									 ng-click="$columnFilterPanel.toggle.execute(item)">
						<span ng-bind-html="item | qgridHighlight : $columnFilterPanel.filter"> </span>
					</md-checkbox>
				</li>
			</ul>
		</div>
	</div>
	<div class="q-grid-column-filter-panel-actions" flex="none">
		<md-button ng-click="$columnFilterPanel.cancel.execute()">
			Cancel
		</md-button>
		<md-button ng-click="$columnFilterPanel.reset.execute()">
			Reset
		</md-button>
		<md-button class="md-primary"
					  ng-click="$columnFilterPanel.submit.execute()"
					  ng-disabled="!$columnFilterPanel.submit.canExecute()">
			Apply
		</md-button>
	</div>
</div>