<ng-template key="column-chooser.tpl" let-$chooser>
	<div class="q-grid-column-chooser" layout="column" flex="100">
		<div flex="none" layout="row">
			<md-input-container class="q-grid-column-chooser-filter" flex>
				<label>Search</label>
				<input type="text"
						 mdInput
						 [(ngModel)]="$chooser.filter"
						 q-grid-focus/>
			</md-input-container>
		</div>
		<div flex layout="column">
			<ul>
				<li>
					<md-checkbox [(ngModel)]="$chooser.allSelected"
									 [(indeterminate)]="$chooser.allSelectedIndeterminate">
						Select All
					</md-checkbox>
				</li>
				<li>
					<md-checkbox [(ngModel)]="$chooser.defaultSelected">
						Select Defaults
					</md-checkbox>
				</li>
			</ul>
			<ul class="q-grid-column-chooser-list">
				<li *ngFor="let column of $chooser.columSelectors || $chooser.filter"
					 q-grid-drag="$chooser.transfer(column)"
					 q-grid-drop="$chooser.transfer(column)"
					 q-grid-on-drop="$chooser.drop.execute($event)"
					 q-grid-can-drop="$chooser.drop.canExecute($event)"
					 q-grid-can-drag="$chooser.drag.canExecute($event)">

					<md-checkbox [ngModel]="column.isVisible"
									 (ngModelChange)="$chooser.setColumnState(column, $event)"
									 [aria-label]="Selection">
						<span>{{column.title || $chooser.filter}}</span>
					</md-checkbox>


					<md-input-container *ngIf="$chooser.canAggregate">
						<md-select aria-label="Aggregation"
									  [(ngModel)]="column.aggregation"
									  (change)="$chooser.toggleAggregation.execute(column)">
							<md-option><em>Aggregation</em></md-option>
							<md-option *ngFor="let aggregation of $chooser.aggregations"
										  [value]="aggregation">
								{{aggregation}}
							</md-option>
						</md-select>
					</md-input-container>
				</li>
			</ul>
		</div>
		<div class="q-grid-column-chooser-actions" flex="none">
			<button md-button (click)="$chooser.cancel.execute()">
				Cancel
			</button>
			<button md-button (click)="$chooser.reset.execute()">
				Reset
			</button>
			<button md-button class="md-primary"
						  (click)="$chooser.submit.execute()"
						  disabled="!$chooser.submit.canExecute()">
				Apply
			</button>
		</div>
	</div>
</ng-template>
