<ng-template key="plugin-column-filter.tpl.html" let-$columnFiltePanel>
	<div class="q-grid-column-filter-panel layout-column flex-100">
		<div class="flex-none layout-row">
			<mat-form-field class="q-grid-column-filter-filter">
				<label>Search</label>
				<input type="text"
					   matInput
					   [value]="$columnFilterPanel.filter"
					   q-grid-focus/>
			</mat-form-field>
		</div>
		<div class="flex-100">
			<ul>
				<li>
					<mat-checkbox (click)="$columnFilterPanel.toggleAll.execute()"
								 [checked]="$columnFilterPanel.stateAll()"
								 aria-label="Select all filter values"
								 [indeterminate]="$columnFilterPanel.isIndeterminate()">
						Select All
					</mat-checkbox>
				</li>
			</ul>
			<div class="q-grid-column-filter-list">
				<ul>
					<li *ngFor="let item of $columnFilterPanel.items">
						<mat-checkbox [checked]="$columnFilterPanel.state(item)"
									 *ngIf="$columnFilterPanel.toggle.canExecute(item)"
								     aria-label="Select filter value"
								     (click)="$columnFilterPanel.toggle.execute(item)">
									{{item}}
						</mat-checkbox>
					</li>
				</ul>
			</div>
		</div>
	</div>
</ng-template>