<ng-template key="column-chooser.tpl" let-$columnChooser>
	<div class="q-grid-column-chooser" layout="column" flex="100">
		<div flex="none" layout="row">
			<h3>Hello Column Chooser!</h3>
			<md-input-container class="q-grid-column-chooser-filter" flex>
				<label>Search</label>
				<input type="text"
						 mdInput
						 [(ngModel)]="$columnChooser.filter"
						 q-grid-focus/>
			</md-input-container>
		</div>
		<div flex layout="column">
			<ul>
				<li>
					<md-checkbox (click)="$columnChooser.toggleAll.execute()"
									 [checked]="$columnChooser.stateAll()"
									 indeterminate="$columnChooser.isIndeterminate()">
						Select All
					</md-checkbox>
				</li>
				<li>
					<md-checkbox (click)="$columnChooser.defaults.execute()"
									 [checked]="$columnChooser.stateDefault()">
						Select Defaults
					</md-checkbox>
				</li>
			</ul>
			<ul class="q-grid-column-chooser-list">
				<li *ngFor="let column of $columnChooser.columns || $columnChooser.filter"
					 q-grid-drag="$columnChooser.transfer(column)"
					 q-grid-drop="$columnChooser.transfer(column)"
					 q-grid-on-drop="$columnChooser.drop.execute($event)"
					 q-grid-can-drop="$columnChooser.drop.canExecute($event)"
					 q-grid-can-drag="$columnChooser.drag.canExecute($event)">

					<md-checkbox [checked]="$columnChooser.state(column)"
									 *ngIf="$columnChooser.toggle.canExecute(column)"
									 (click)="$columnChooser.toggle.execute(column)"
									 aria-label="Selection">
						<span>{{column.title || $columnChooser.filter}}</span>
					</md-checkbox>


					<md-input-container *ngIf="$columnChooser.canAggregate">
						<md-select aria-label="Aggregation"
									  [(ngModel)]="column.aggregation"
									  (change)="$columnChooser.toggleAggregation.execute(column)">
							<md-option><em>Aggregation</em></md-option>
							<md-option *ngFor="let aggregation of $columnChooser.aggregations"
										  [value]="aggregation">
								{{aggregation}}
							</md-option>
						</md-select>
					</md-input-container>
				</li>
			</ul>
		</div>
		<div class="q-grid-column-chooser-actions" flex="none">
			<button md-button (click)="$columnChooser.cancel.execute()">
				Cancel
			</button>
			<button md-button (click)="$columnChooser.reset.execute()">
				Reset
			</button>
			<button md-button class="md-primary"
						  (click)="$columnChooser.submit.execute()"
						  disabled="!$columnChooser.submit.canExecute()">
				Apply
			</button>
		</div>
	</div>
</ng-template>
