<div layout="row">
	<div flex="100"
		  layout="row"
		  layout-align="start center"
		  layout-align-xs="start start"
		  layout-align-sm="start start"
		  layout-xs="column"
		  layout-sm="column">
	</div>
	<div class="q-grid-actions" flex="none" layout="row" layout-align="end center">
		<div>
			<q-grid:popup id="q-grid-filter-popup">
				<q-grid:template for="trigger">
					<md-button ng-click="$popup.open({width: 352, height: 652})" class="md-icon-button">
						<md-icon>filter_list</md-icon>
					</md-button>
				</q-grid:template>
				<q-grid:template for="body">
					<q-grid:expression-builder on:submit="$popup.close()"
														on:cancel="$popup.close()">
					</q-grid:expression-builder>
				</q-grid:template>
				<q-grid:template for="head">
					Filter
				</q-grid:template>
			</q-grid:popup>
		</div>
		<div>
			<q-grid:popup id="q-grid-column-chooser-popup">
				<q-grid:template for="trigger">
					<md-button ng-click="$popup.open({width: 352, height: 652})" class="md-icon-button">
						<md-icon>more_vert</md-icon>
					</md-button>
				</q-grid:template>
				<q-grid:template for="body">
					<q-grid:column-chooser on:submit="$popupBody.close()"
												  on:cancel="$popupBody.close()">
					</q-grid:column-chooser>
				</q-grid:template>
				<q-grid:template for="head">
					<span class="md-subhead">Column Chooser</span>
				</q-grid:template>
			</q-grid:popup>
		</div>
	</div>
</div>
<div class="q-grid-progress">
	<q-grid:progress>
	</q-grid:progress>
</div>