<q-grid [caption]="title"
				[rows]="rows$ | async"
				selectionUnit="row"
				selectionMode="multiple"
				selectionArea="custom">

	<q-grid-columns generation="deep">
	</q-grid-columns>

	<q-grid-pane>
		<ng-template for="right" let-$pane let-$item="value">
			<div style="width: 300px; display: flex;">
				<h2>Discovered By: {{ $item?.discoveredBy }}</h2>
				<button mat-icon-button (click)="$pane.close('right')">
					<mat-icon>close</mat-icon>
				</button>
			</div>
		</ng-template>
	</q-grid-pane>

</q-grid>