<md-chip-list>
	<div *ngFor="let chip of _values">
		<div *ngIf="editMode(chip.index); else nonEditView">
			<input mdInput
					 q-grid-focus
					 #input
					 [(ngModel)]="editValue"
					 (blur)="endEdit()">
		</div>
		<ng-template #nonEditView>
			<md-chip selected="true">
				<span (click)="edit(chip.index)" >{{chip.value}}</span>
				<i class="material-icons pure-u-md-1-8" (click)="removeItem(chip.index)">delete</i>
			</md-chip>
		</ng-template>
	</div>

	<input mdInput
			 #input
			 placeholder="New item"
			 maxlength="{{maxLength}}"
			 [(ngModel)]="newValue"
			 (blur)="addItem()">
</md-chip-list>
