<q-grid caption="Column Number Basic"
        [rows]="rows"
        editMode="cell">
	<q-grid-columns>
		<q-grid-column key="number"
		               title="Number"
		               type="number">
		</q-grid-column>
		<q-grid-column key="format3.1-5"
		               title="Format3.1-5"
		               format="3.1-5"
		               type="number">
		</q-grid-column>
		<q-grid-column key="max"
		               title="Max"
		               type="number">
		</q-grid-column>
		<q-grid-column key="min"
		               title="Min"
		               type="number">
		</q-grid-column>
		<q-grid-column key="null"
		               title="Null"
		               type="number">
		</q-grid-column>
		<q-grid-column key="undefined"
		               title="Undefined"
		               type="number">
		</q-grid-column>
		<q-grid-column key="empty"
		               title="Empty"
		               type="number">
		</q-grid-column>
		<q-grid-column key="string"
		               title="String"
		               type="number">
		</q-grid-column>
		<q-grid-column key="customTemplate"
		               title="Custom Template"
		               type="number">
			<ng-template for="body"
			             let-$cell>
				value: {{$cell.value}}
			</ng-template>
			<ng-template for="edit"
			             let-$cell
			             let-$view="$view">
				<input type="number"
				       style="width: 100%"
				       q-grid-focus
				       [(ngModel)]="$view.edit.cell.value"
				       (blur)="$view.edit.cell.exit.execute($cell)" />
			</ng-template>
		</q-grid-column>
	</q-grid-columns>
</q-grid>