td.q-grid-focused {
    outline: 2px solid $blue-outline005;
    outline-offset: -2px;

    &.q-grid-animate {
        outline: none;
    }
}

.q-grid-view.q-grid-active {
    td.q-grid-focused {
        outline-color: $blue-outline025;
    }
}

.q-grid-cell-handler {
    display: none;
    position: absolute;
    transition: all $focus-duration;
    pointer-events: none;
    outline: 2px solid $blue-outline025;
    outline-offset: -2px;

    &.q-grid-active {
        display: block;
    }
}

.q-grid-marker {
    @include simpleSquareElement(10px);
    display: block;
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 14px;
    color: $grid-marker-color;
    cursor: move;
}