.q-grid {
    &-flex-auto {
        flex: 1 1 auto;
        box-sizing: border-box;
    }

    &-flex-none {
        flex: 0 0 auto;
        box-sizing: border-box;
    }

    &-flex {
        flex: 1;
        box-sizing: border-box;
    }

    &-flex-100 {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 100%;
        box-sizing: border-box;
    }

    &-layout-row>.q-grid-flex-100 {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 100%;
        box-sizing: border-box;
    }

    &-layout-column>.q-grid-flex-100 {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 100%;
        box-sizing: border-box;
    }


    &-layout-row>.q-grid-flex {
        min-width: 0;
    }

    &-layout-column>.q-grid-flex {
        min-height: 0;
    }

    &-layout-column,
    &-layout-row {
        display: flex;
        box-sizing: border-box;
    }

    &-layout-column {
        flex-direction: column;
    }

    &-layout-row {
        flex-direction: row;
        min-height: 0;
    }

    &-layout-align-center-center {
        justify-content: center;
        align-items: center;
        align-content: center;
        max-width: 100%;
    }

    &-layout-align-center-center>* {
        max-width: 100%;
        box-sizing: border-box;
    }

    &-layout-align-start-center {
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        max-width: 100%;
    }

    &-layout-align-start-center>* {
        max-width: 100%;
        box-sizing: border-box;
    }

    &-layout-align-end-center {
        justify-content: flex-end;
        align-items: center;
        align-content: center;
        max-width: 100%;
    }

    &-layout-align-end-center>* {
        max-width: 100%;
        box-sizing: border-box;
    }
}