.q-grid-table-mid .q-grid-live-row {
	background-color: $white !important;
	z-index: 2;
	position: relative;
	display: inline-table !important;
	opacity: 1 !important;

	&::before,
	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 0.7px;
		background-color: $grid-live-pseudo;
		left: 0;
	}

	&::before {
		top: 0;
	}

	&::after {
		bottom: 0;
	}
}

.q-grid-live-row {
	border: none !important;
}

.q-grid-live-cell {
	display: block;
	margin: 0 -10px;
	border-radius: 5px;
 
	@keyframes textBackroundColor {
	   0% { background-color: $text-bg-color}
	   100% { background-color: transparent }
	}
 
	 & span {
		 display: inline-block;
		 padding: 0 5px;
 
		 &:first-child {
			 padding-left: 10px;
		 }
 
		 &:last-child {
			 padding-right: 10px;
		 }
	 }
 
	&-diff {
	   font-weight: bold;
	}
  
	&-up {
	   color: $text-up-color;
	   background-color: $up-down-bg-color;
	}
  
	&-down {
	   color: $text-down-color;
	   background-color: $up-down-bg-color;
	}
  
	&-text {
	   & .q-grid-live-cell-prev {
		  text-decoration: line-through;
	   }
 
	   & .q-grid-live-cell-container {
		  animation: textBackroundColor 3s;
	   }
	}
 
	&-currency {
	   & .q-grid-live-cell-prev {
		  display: none;
	   }
	}
 }
  