.q-grid-editor.q-grid-reference {
    height: 417px;
    width: 385px;

    .q-grid-reference-content {
        @include simpleSquareElement(100%);

        .q-grid-title,
        .q-grid-caption {
            h2 {
                margin-bottom: 8px;
            }
        }
    }
}