.q-grid-editor {
	&.q-grid-autocomplete {
		width: 200px;

		input {
			border-color: rgb(63, 81, 181);
			border-width: 0 0 2px 0;
			border-radius: 0;
			border-style: solid;
			line-height: 26px;
			padding: 2px 2px 1px 2px;
			height: 30px;
		}
	}
}

@at-root .q-grid-autocomplete-menu {
	z-index: 101;
}