td {
	.q-grid-editor.q-grid-file {
		height: 192px;
    	width: 346px;
    	padding-bottom: 12px;
		h2 {
			text-align: left;
		}
	}
}

@at-root .q-grid-file-upload-area {
	position: relative;
	border: 1px dashed $dark-divider;
	text-align: center;
	height: 120px;
	.q-grid-file-upload-message {
		position: relative;
		top: 40%;
		line-height: 24px;
		span {
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.q-grid-icon {
			margin: 0;
		}
	}

	&.q-grid-file-has-preview {
		.q-grid-file-upload-message {
			visibility: hidden;
		}
	}

	.q-grid-file-upload-filename {
		padding: 10px;
		font-weight: bold;
		color: $dark-secondary;
	}

	input {
		opacity: 0;
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 2;
	}

	.q-grid-file-preview {
		opacity: 1;
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		vertical-align: middle;
		text-align: center;
		img {
			position: relative;
			max-height: 100% !important;
			max-width: 100% !important;
			z-index: 3;
		}
	}
}

@at-root .q-grid-file-upload-area:hover {
	background-color: $selected;
	.q-grid-file-preview {
		opacity: 0;
		transition: opacity 0.2s ease-in-out;
		img {
			z-index: 1;
		}
	}

	.q-grid-file-upload-message {
		visibility: visible;
	}
}