@import "variables";

$border: 1px solid $dark-divider;
thead {
	tr:last-child {
		th.q-grid-pivot {
			border-bottom: $border;
		}
	}
	th.q-grid-pivot {
		border-top: $border;
		border-left: $border;
		padding: 0;
		&:nth-last-child(2) {
			border-right: $border;
		}
	}
}