@at-root :host /deep/ .q-grid-chip {
	display: inline-flex;
	background-color: #d3d3d3;
	margin-right: 2px;
	border-radius: 3px;
	padding: 0 3px;
	margin-bottom: 3px;

	&-close {
		width: 5px;
		height: 5px;
		position: relative;
		cursor: pointer;

		&-icon {
			font-size: 8px;
			width: 5px;
			height: 5px;
			position: absolute;
		}
	}

}
