@at-root .q-grid-chip {
	display: inline-flex;
	background-color: #EBEBEB;
	margin-right: 2px;
	border-radius: 100px;
	padding: 0 14px;
	margin-bottom: 3px;

	&-item {
		font-size: 12px;
		margin: 2px 7px 1px -4px;
	}

	&-close {
		width: 5px;
		height: 5px;
		position: relative;
		cursor: pointer;

		&-icon {
			top: 2px;
			font-size: 14px;
			width: 5px;
			height: 5px;
			position: absolute;
			color: #C8C8C8;
		}
	}

}
