@import "variables";
&.q-grid-box:not(.q-grid-drag) {
	th.q-grid-highlighted {
		.q-grid-column-filter-trigger {
			opacity: 1;
		}
	}
}

.q-grid-column-filter-trigger {
	position: absolute;
	right: 2px;
	transition: opacity 0.3s;
	margin: 0 auto;
	height: 16px;
	line-height: 16px;
	opacity: 0;
	transition: opacity 0.3s;
	&.q-grid-active {
		opacity: 1;
		.q-grid-icon {
			color: $dark;
		}
		&+label {
			color: $dark;
		}
	}
	button {
		font-size: 12px;
		width: 16px;
		min-width: 16px;
		min-height: 16px;
		height: 16px;
		outline: none;
		border: none;
		background: transparent;
		padding: 0;
		left: 0;
		margin: 0 2px 2px 2px;
		.q-grid-icon {
			color: $dark-secondary;
			font-size: 16px;
			height: 16px;
			width: 16px;
			min-height: 16px;
			min-width: 16px;
			line-height: 16px;
			display: block;
		}
	}
}

@at-root .q-grid-column-filter.q-grid-menu {
	width: 360px;
	min-width: 360px;
	max-width: 360px;
	height: 500px;
	overflow: hidden;
	ul {
		list-style-type: none;
		padding: 0;
	}
	.q-grid-column-filter-filter {
		margin: 0;
		padding: 0;
		width: 100%;
	}
	.q-grid-column-filter-list {
		overflow-y: auto;
		height: 255px;
		margin-bottom: 14px;
		ul {
			margin: 0;
		}
	}

	.q-grid-column-filter-by {
		height: 57px;
		overflow-y: auto;
		overflow-x: hidden;
		margin-bottom: 10px;
		margin-top: -5px;

		&-blank {
			text-align: center;
			color: #C8C8C8;
			position: relative;
			top: 20px;
		}

		ul {
			margin-top: 0;
		}

		li {
			display: inline;
		}
	}

	.q-grid-column-filter-actions {
		padding: 7px 0;
	}
	.q-grid-checkbox {
		width: 100%;
		overflow: hidden;
		margin: 0 0 5px 0;
	}
}

@at-root .q-grid-filter-by {
	display: inline-flex;
	background-color: #EBEBEB;
	margin-right: 2px;
	border-radius: 100px;
	padding: 0 14px;
	margin-bottom: 3px;

	&-item {
		font-size: 12px;
		margin: 2px 7px 1px -4px;
	}

	&-remove {
		width: 5px;
		height: 5px;
		position: relative;
		cursor: pointer;
	}

	.q-grid-icon {
		top: 2px;
		font-size: 14px;
		width: 5px;
		height: 5px;
		position: absolute;
		color: #C8C8C8;
	}
}


