&.q-grid-box:not(.q-grid-drag) {
    th.q-grid-highlighted {
        .q-grid-column-filter-trigger {
            opacity: 1;
        }
    }
}

.q-grid-column-filter-trigger {
    position: absolute;
    right: 2px;
    transition: opacity 0.3s;
    margin: 0 auto;
    opacity: 0;
    height: 16px;
    line-height: 16px;

    &.q-grid-active {
        opacity: 1;

        .q-grid-icon,
        &+label {
            color: $dark;
        }
    }

    button {
        @include squareElement(16px);
        @include borderReset;
        font-size: 12px;
        background: transparent;
        padding: 0;
        left: 0;
        margin: 0 2px 2px 2px;

        .q-grid-icon {
            @include iconSizes(16px);
            color: $dark-secondary;
            line-height: 16px;
            display: block;
        }
    }
}

@at-root .q-grid-column-filter.q-grid-menu {
    @include width(360px);
    max-height: 500px;
    overflow: hidden;

    ul {
        list-style-type: none;
        padding: 0;
    }

    .q-grid-column-filter-with-operators {
        position: relative;

        .q-grid-column-filter-operator-select {
            position: absolute;
            top: 15px;
            right: -20px;
            width: 40px;

            .mat-icon {
                font-size: 20px;
            }

            .mat-select-arrow {
                border-width: 0;
            }
        }

        .q-grid-column-filter-input {
            width: calc(100% - 28px);

            &.half {
                display: inline-block;
                width: calc(50% - 20px);

                &:last-of-type {
                    padding-left: 12px;
                }
            }
        }

    }

    .q-grid-column-filter-input {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .q-grid-column-filter-list {
        overflow-y: auto;
        height: 230px;

        ul {
            margin: 0;
        }
    }

    .q-grid-column-filter-by {
        height: 57px;
        overflow-y: auto;
        overflow-x: hidden;
        margin-bottom: 10px;
        margin-top: -5px;

        &-blank {
            text-align: center;
            color: $gray;
            position: relative;
            top: 20px;
        }

        ul {
            margin-top: 0;
        }

        li {
            display: inline;
        }
    }

    .q-grid-checkbox {
        width: 100%;
        overflow: hidden;
        margin: 0 0 5px 0;
    }
}

@at-root .mat-option {
    .mat-option-text::first-letter {
        text-transform: uppercase;
    }

    .mat-icon.html {
        font-size: 20px;
        line-height: 20px;
        margin-top: -6px;
        margin-right: 0;
    }
}

@at-root .mat-form-field-label::first-letter {
    text-transform: uppercase;
}

@at-root .q-grid-filter-by {
    display: inline-flex;
    background-color: $gray-secondary;
    margin-right: 2px;
    border-radius: 100px;
    padding: 0 14px;
    margin-bottom: 3px;

    &-item { 
        font-size: 12px;
        margin: 2px 7px 1px -4px;
        height: 15px;
        overflow: hidden;
    }

    &-remove {
        width: 5px;
        height: 5px;
        position: relative;
        cursor: pointer;
    }

    .q-grid-icon {
        position: absolute;
        top: 2px;
        font-size: 14px;
        width: 5px;
        height: 5px;
        color: $gray;
    }
}

@at-root {
    @media (max-height: 540px) {
        .q-grid-column-filter-contains {
            .q-grid-column-filter-list {
                max-height: 148px;
            }
        }
    }
}