$color-less: rgba(0, 0, 0, 0);

$dark: #424242;//rgba(0, 0, 0, 0.87);
$dark-accent: #616161;
$dark-text: #fff;
//$dark-default: rgba(255, 255, 255, 0.5);
$dark-header:  hsla(0,0%,100%,.7);
$dark-focused: #5565A0;
