
@import "dark-colors";

.q-grid-dark {
    .q-grid.q-grid-theme-material {
        .q-grid-view {
            tr td {
				color: $dark-contrast;
            }
            
            tr {
                &.q-grid-highlighted {
                    background-color: $dark-accent;
                }
            }

            td {
                &.q-grid-highlighted {
                    background-color: $dark-accent;
                }

                &.q-grid-focus {
                    outline: 2px solid $dark-focused;
                }
            }

            thead tr th {
                color: $dark-contrast;
                &.q-grid-focus {
                    outline: 2px solid $dark-focused;
                }
            }

            table {
                background-color:$dark;
            }

            .mat-checkbox-frame {
                border-color: $dark-contrast;
            }

            .q-grid-icon {
                color: $dark-contrast;
            }
        }
    }
}


