.q-grid-embed,
.q-grid-lcc {
    font-family: Roboto;
    .q-grid {
        .q-grid {
            &-title {
                h2 {
                    font-size: 24px;
                    font-weight: normal;
                    font-style: normal;
                    text-align: left;
                    color: #006f8f;
                }
            }
            &-sort {
                margin-left: 0px;
            }
            &-text {
                font-size: 13px;
            }
            &-table {
                tr {
                    height: 30px;
                }
                th {
                    font-size: 12px !important;
                    color: #006f8f !important;
                    font-weight: normal !important;
                    line-height: 14px;
                    &:hover label {
                        font-weight: normal !important;
                    }
                    .q-grid-icon {
                        line-height: 14px;
                        font-size: 14px;
                    }
                    .q-grid-column-filter-trigger {
                        line-height: 14px;
                        height: 14px;
                    }
                    .q-grid-sort {
                        &.q-grid-active {
                            label {
                                color: inherit;
                            }
                        }
                    }
                }
                td {
                    font-size: 16px;
                    line-height: 16px;
                    font-weight: normal;
                    &.q-grid-text-area {
                        >span {
                            white-space: nowrap;
                        }
                    }
                    &.q-grid-array {
                        li {
                            padding: 2px 8px;
                        }
                    }
                    &.q-grid-edit {
                        &.q-grid-row-options {
                            button {
                                width: 24px;
                                height: 24px;
                                line-height: 24px;
                            }
                        }
                    }
                    &.q-grid-image {
                        img {
                            max-height: 24px;
                            max-width: 24px;
                        }
                    }
                }
            }
            &-legend {
                &-list {
                    font-size: 16px !important;
                    text-align: left !important;
                    color: #000000 !important;
                }
                &-item {
                    width: 8px !important;
                    height: 8px !important;
                    margin-right: 18px !important;
                    margin-bottom: 2px !important;
                }
            }
            &-progress {
                &-linear {
                    top: -10px;
                }
            }
            &-pager {
                padding: 11px 0;
            }
            &-legend-list {
                margin-top: 15px;
            }
        }
    }
}