$color-lc-cyan-dark: #006f8f;
$color-black-87: rgba(0, 0, 0, 0.87);

.q-grid-embed,
.q-grid-lcc {
    font-family: Roboto, "Helvetica Neue", sans-serif;

    .q-grid {
        .q-grid {
            &-title {
                h2 {
                    font-size: 24px;
                    font-weight: normal;
                    font-style: normal;
                    text-align: left;
                    color: $color-lc-cyan-dark;
                }
            }

            &-caption {
                h3 {
                    color: $color-lc-cyan-dark;
                }
            }

            &-sort {
                margin-left: 0;
            }

            &-text {
                font-size: 13px;
            }

            &-table {
                tr {
                    height: 36px;
                }

                th {
                    font-size: 12px !important;
                    color: $color-lc-cyan-dark !important;
                    font-weight: normal !important;
                    line-height: 14px;

                    &:hover label {
                        font-weight: normal !important;
                    }

                    .q-grid-icon {
                        text-align: center;
                        line-height: 16px;
                        font-size: 14px;
                        padding: 0 2px;
                        color: $color-black-87;
                    }

                    .q-grid-column-filter-trigger {
                        right: 4px;

                        button {
                            margin: 0;
                            width: 20px;
                        }
                    }

                    .q-grid-sort {
                        padding-left: 20px;

                        &.q-grid-active {
                            label {
                                color: inherit;
                            }
                        }

                        .q-grid-icon {
                            margin-left: -20px;
                        }

                        label {
                            cursor: pointer;
                        }
                    }
                }

                td {
                    font-size: 14px;
                    font-weight: normal;
                    padding: 0 20px;
                    color: $color-black-87;

                    &.q-grid-text-area {
                        >span {
                            white-space: nowrap;
                        }
                    }

                    &.q-grid-array {
                        li {
                            padding: 2px 8px;
                        }
                    }

                    &.q-grid-edit {
                        &.q-grid-row-options {
                            button {
                                width: 24px;
                                height: 24px;
                                line-height: 24px;
                            }
                        }
                    }

                    &.q-grid-image {
                        img {
                            max-height: 24px;
                            max-width: 24px;
                        }
                    }
                }
            }

            &-legend {
                &-list {
                    font-size: 16px !important;
                    text-align: left !important;
                    color: #000000 !important;
                }

                &-item {
                    width: 8px !important;
                    height: 8px !important;
                    margin-right: 18px !important;
                    margin-bottom: 2px !important;
                }
            }

            &-progress {
                &-linear {
                    top: -10px;
                }
            }

            &-pager {
                padding: 11px 0;
            }

            &-legend-list {
                margin-top: 15px;
            }

            &-layer {
                top: 50px;
            }
        }
    }
}