$duration: 0.15s;
&.q-grid-box:not(.q-grid-drag) {
    td.q-grid-focused {
        outline: 2px solid rgba(63, 81, 181, 0.25);
        outline-offset: -2px;
        &.q-grid-animate {
            outline: none;
        }
    }
}

.q-grid-view:not(.q-grid-active) {
    td.q-grid-focused {
        outline-color: rgba(63, 81, 181, 0.05);
    }
}

.q-grid-cell-handler {
    transition: all $duration;
    position: absolute;
    pointer-events: none;
    outline: 2px solid rgba(63, 81, 181, 0.25);
    outline-offset: -2px;
    display: none;
    &.q-grid-active {
        display: block;
    }
}

.q-grid-marker {
    display: none;
    &.q-grid-active {
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        bottom: 5px;
        right: 5px;
        font-size: 14px;
        color: #C8C8C8;
        cursor: move;
    }
}