q-grid-edit-form-trigger {
    .q-grid-icon {
        color: $dark-secondary;
        font-size: 16px;
        height: 16px;
        width: 16px;
        min-height: 16px;
        min-width: 16px;
        line-height: 16px;
    }
}

@at-root {
    .q-grid-edit-form {
        width: 400px;
        min-width: 400px !important;
        .q-grid-edit-form-body {
            height: 300px;
            overflow-y: auto;
        }
    }
}