q-grid-edit-form-trigger {	
    .q-grid-icon {
        color: $dark-secondary;
        font-size: 16px;
        height: 16px;
        width: 16px;
        min-height: 16px;
        min-width: 16px;
        display: block;
    }
}
