@import "variables";

&.q-grid-box:not(.q-grid-drag) {
	td,
	tr {
		&.q-grid-highlighted {
			background-color: $highlighted;
		}
	}
}

@at-root {
	.q-grid-highlight-part {
		background-color: yellow;
		color: #000;
	}
}