.q-grid-pager {
    font-family: $font-family;
    height: 24px;
    color: $dark-secondary;
    float: right;
    padding: 16px 0;
    font-size: 12px;

    > * {
        display: inline-block;
    }
    @media (max-width: 599px) {
        .hide-xs:not(.show-xs):not(.show),
        .hide:not(.show-xs):not(.show) {
            display: none;
        }
    }

    .q-grid-pager-page {
        margin-left: 32px;
        margin-right: 14px;
        min-width: 37.2px;
        display: inline-block;
    }

    button {
        @include buttonSizes(24px); 
        background: transparent;
        border: none;
        font-size: 20px;
        padding: 0;

        &.q-grid-prev-page {
            top: 3px;
            margin-left: 18px;
            margin-right: 0;

            .q-grid-icon {
                margin-bottom: 4px;
                margin-right: 1px;
            }
        }

        &.q-grid-next-page {
            top: 3px;
            margin-right: 14px;
            margin-left: 0;

            .q-grid-icon {
                margin-bottom: 4px;
                margin-left: 1px;
            }
        }

        &.q-grid-target-page {
            .q-grid-icon {
                @include iconSizes(16px);
            }
        }
    }
}
@at-root .q-grid-pager-target {
    width: 200px;
}
