.q-grid-layer-pane {

    &-right,
    &-left {
        pointer-events: none;
    }
}

.q-grid-pane {
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
    position: absolute;
    z-index: 1;
    background: #fff;
    padding: 16px;
    pointer-events: all;

    >.mat-card {
        box-shadow: none;
        padding: 0;
    }

    &-right {
        top: -50px;
        right: 0;
        width: 300px;
        height: calc(100% + 10px);
    }

    &-left {
        top: -50px;
        left: 0;
        width: 300px;
        height: calc(100% + 10px);
    }
}