.q-grid-pane {
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
    position: absolute;
    background: #fff;
    padding: 4px 16px;

    >.mat-card {
        box-shadow: none;
        padding: 0;
    }

    &-right {
        bottom: 10px;
        right: 0;
        height: calc(100% + 32px);
    }
}