@at-root .q-grid-query-builder-panel.q-grid-menu {
    width: 480px;
    min-width: 480px;
    max-width: 480px;
    height: 540px;
    overflow: hidden;
    .q-grid-query-builder {
        &-expression {
            margin-top: 15px;
            height: 336px;
            overflow: auto;
            padding: 2px;
            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
                li {
                    display: inline;

						 &.q-grid-eb-expression {
							 margin-right: 3px;
							 display: inline-block;
						 }
                }
                &.q-grid-eb {
                    &-node {
                        padding: 2px;
                        white-space: nowrap;
                        &.qb-logical {
                            padding-left: 0;
                            position: relative;
                            min-height: 21px;
                            >.q-grid-eb-line {
                                position: absolute;
                                transform: rotate(-90deg);
                                transform-origin: top;
                                top: 50%;
                                left: -5px;
                                margin-top: -1px;
                                >ul {
                                    transform: rotate(90deg);
                                }
                            }
                            >.q-grid-eb-children {
                                display: flex;
                                >ul {
                                    border-left: 1px solid #999;
                                    border-radius: 5px;
                                    margin-left: 35px;
                                    padding-left: 10px;
                                    width: 100%;
                                }
                            }
                            &.qb-or {
                                >.q-grid-eb-line {
                                    left: 5px;
                                }
                            }
                        }
                    }
                    &-group {
                        display: inline;
                    }
                }
            }
            .q-grid-eb-active {
                >.q-grid-eb-node {
                    outline: 2px solid rgba(63, 81, 181, 0.25);
                    background: #f5f5f5;
                }
            }
        }
        &-icon-button {
            height: 16px;
            width: 16px;
            line-height: 16px;
            .q-grid-icon {
                line-height: 16px;
                height: 16px;
                width: 16px;
                font-size: 16px;
            }
        }
    }
}
