@at-root .q-grid-query-builder-panel.q-grid-menu {
    width: 360px;
    min-width: 360px;
    max-width: 360px;
    height: 500px;
    overflow: hidden;
    ul {
        list-style-type: none;
        padding: 0;
    }
}