tbody {
    tr {
        height: 48px;
    }
}

tfoot,
tbody {
    tr {
        border-top: 1px solid $common-border-color;
    }
    tr:nth-child(2) {
        border-top: 0;
    }
}

thead,
tfoot {
    tr {
        height: 56px;
    }
}