@import "variables";
td.q-grid-selected {
    background-color: $selected;
    &.q-grid-sorted {
        background-color: $selected;
    }
    &.q-grid-highlighted {
        background-color: $highlighted;
    }
}

.q-grid-select-cell.q-grid-select-single {
    td.q-grid-selected:not(.q-grid-sorted):not(.q-grid-highlighted) {
        background-color: inherit;
    }
}

.q-grid-noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}