@import "variables";

thead {
    box-shadow: 0 1px 0px #ddd;
}

.q-grid-body-top {
    tr:last-child {
        border-bottom: 1px solid $dark-divider;
    }
}

.q-grid-body-bottom {
    tr:first-child {
        border-top: 1px solid $dark-divider;
    }
}