///Common colors
$color-lc-cyan-dark: #006f8f;
$color-black-87: rgba(0, 0, 0, 0.87);
$summary-background: rgba(0, 0, 0, 0.04);

///Dark theme
$color-less: rgba(0, 0, 0, 0);
$dark: #424242;
$dark-primary: #1eb980;
$dark-accent: #616161;
$dark-focused: #5565A0;
$dark-highlighted: #8d8d8d;
$dark-surface: #363640;
$dark-container: #3c3c46;
$dark-text: #ffffff;
$dark-header: rgba(255, 255, 255, 0.6);
$dark-divider: rgba(255, 255, 255, 0.12);

///Markup colors
$markup-gray: #888;
$markup-secondary-gray: #666;
$markup-red: #a11;

///Exel (for exel.scss)
$excel-greyscale-light: #eee;
$excel-greyscale-medium: #ccc;
$excel-greyscale-lightdark: #d2d2d2;
$excel-greyscale-dark: #c6c6c6;

$excel-greenscale-light: #D3F0E0;
$excel-greenscale-medium: #9FD5B7;
$excel-greenscale-dark: #227447;