.q-grid.q-grid-theme-material {
    @import "assets/active";
    @import "assets/backdrop";
    @import "assets/box";
    @import "assets/cell.array";
    @import "assets/cell.autocomplete";
    @import "assets/cell.bool";
    @import "assets/cell.edit";
    @import "assets/cell.email";
    @import "assets/cell.file";
    @import "assets/cell.group.summary";
    @import "assets/cell.image";
    @import "assets/cell.pivot";
    @import "assets/cell.reference";
    @import "assets/cell.row.details";
    @import "assets/cell.row.indicator";
    @import "assets/cell.row.options";
    @import "assets/cell.select";
    @import "assets/cell.text.area";
    @import "assets/cell.text";
    @import "assets/cell.url";
    @import "assets/cell";
    @import "assets/column.filter";
    @import "assets/column.sort";
    @import "assets/embed";
    @import "assets/export";
    @import "assets/focus";
    @import "assets/head";
    @import "assets/highlight";
    @import "assets/legend";
    @import "assets/menu";
    @import "assets/mixins";
    @import "assets/node";
    @import "assets/pager.target";
    @import "assets/pager";
    @import "assets/progress";
    @import "assets/query.builder";
    @import "assets/row";
    @import "assets/selection";
    @import "assets/status.bar";
    @import "assets/table";
    @import "assets/title";
    @import "assets/validator";
    @import "assets/view";
    @import "assets/mat/cell.array";
    @import "assets/mat/cell.autocomplete";
    @import "assets/mat/cell.checkbox";
    @import "assets/mat/cell.date";
    @import "assets/mat/cell.dropdown";
    @import "assets/mat/cell.filter.row";
    @import "assets/mat/cell.reference";
    @import "assets/mat/cell.textarea";
    @import "assets/mat/cell";
    @import "assets/mat/column.chooser";
    @import "assets/mat/column.filter";
    @import "assets/mat/edit.form";
    @import "assets/mat/menu";
    @import "assets/mat/pager.target";
    @import "assets/mat/pager";
    @import "assets/mat/persistence";
    @import "assets/mat/query.builder";
}

.q-grid-excel .q-grid.q-grid-theme-material {
    @import "assets/mat/excel";
}

@import "assets/embed";
@import "assets/dark";