.material-icons.md-48 { font-size: 48px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-9 { font-size: 9px; }
.material-icons.md-9.resize-on-hover:hover { font-size: 10px; }
.material-icons.selected { color: #3f51b5; }
.material-icons.mouse-pointer { cursor:pointer }
