.q-grid-reference-card {
    margin: 0;
    padding: 0;
    box-shadow: none;
    background: inherit;

    .mat-card-header-text {
        margin: 0;
    }

    .mat-card-actions {
        margin-left: 0;
        margin-right: 0;
        text-align: right;

        >button {
            text-transform: uppercase;
        }
    }
}