th.q-grid-filter-row {
    height: 56px;
    text-overflow: unset;
    &:hover {
        label {
            font-weight: normal;
        }
    }
    .mat-form-field {
        width: 100%;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.87);
        max-height: 56px;
    }
}
