@import "../variables";

.q-grid-edit-form-panel {
	width: 550px;
	height: 450px;

	.q-grid-edit-form-panel-body {
		overflow-y: auto;
		overflow-x: hidden;
		padding: 10px 20px 0 0;
	}

	.q-grid-edit-form-reference {
		height: 300px;
		margin-bottom: 40px;
	}

	.q-grid-edit-form-file {
		margin-bottom: 40px;
	}

	.q-grid-edit-form-bool {
		margin-bottom: 20px;
	}

	.q-grid-edit-form-array {
		margin-bottom: 20px;
	}

	.q-grid-edit-form-panel-actions {
		margin-bottom: -20px;

		.md-button {
			margin: 8px 0 8px 8px;
			float: right;
		}
	}

	md-input-container {
		margin: 0;
		width: 100%;
	}

	.md-datepicker-input-container {
		width: 100%;

		.md-input {
			max-width: none;
		}
	}

	h4 {
		&.md-title {
			margin-top: 0;
		}
	}
}

.q-grid-edit-form-popup {
	h2 {
		margin: 0 0 0 0;
	}

	md-icon {
		color: $dark-secondary;
		font-size: 16px;
		height: 16px;
		width: 16px;
		min-height: 16px;
		min-width: 16px;
	}
}