@at-root .q-grid-menu, .q-grid-editor-content {
    .mat-menu-content {
        padding: 0;
    }
    .mat-card-header-text {
        margin: 0;
    }
    .mat-card-actions {
        text-align: right;
        >button {
            text-transform: uppercase;
        }
    }
}