@import "../../../../assets/scroll.scss";
@at-root .q-grid-persistence-panel {
	@include scroll();
	width: 400px;
	.q-grid-persistence-header {
		margin: 0 0 8px 0;
		color: rgba(0, 0, 0, .54);
	}
	.q-grid-persistence-title {
		margin: 0;
		.mat-form-field {
			width: 100%;
		}
	}
	.q-grid-persistence-save {
		margin: auto 0 auto 8px;
		.mat-button-wrapper {
			text-transform: uppercase;
		}
	}
	.q-grid-persistence-default-icon {
		.q-grid-icon {
			color: rgba(0, 0, 0, .54);
			font-size: 14px;
			height: 14px;
			width: 14px;
		}
	}
	md-list {
		height: 390px;
		overflow-y: auto;
		md-list-item {
			padding: 0;
			height: 40px;
			min-height: 40px !important;
			.default-icon {
				width: 14px;
				height: 14px;
				min-width: 14px;
				min-height: 14px;
				md-icon {
					margin: 5px 0 0 0 !important;
					line-height: 14px;
					font-size: 14px;
					color: rgba(0, 0, 0, 0.54);
				}
			}
			.q-grid-more {
				md-icon {
					line-height: 20px;
					font-size: 20px;
				}
			}
			.md-secondary-container {
				margin: 0;
			}
			.md-list-item-text {
				margin: 0;
				.md-button {
					width: 100%;
					text-align: left;
					margin: 0;
					height: 40px;
				}
				md-checkbox {
					margin-bottom: 0;
				}
				ul {
					margin: 0;
					padding: 0;
					line-height: 12px;
					margin-top: 2px;
					li {
						display: inline-block;
						min-width: 16px;
						text-align: center;
						white-space: nowrap;
						vertical-align: middle;
						font-size: 12px;
						line-height: 12px;
						color: rgba(0, 0, 0, 0.54);
						margin-right: 4px;
						&.q-grid-tag {
							background-color: #e0e0e0;
							border-radius: 12px;
							padding: 2px 4px;
							text-transform: lowercase;
						}
					}
				}
			}
			&.q-grid-persistence-selected {
				background-color: #f5f5f5;
			}
			&.md-2-line {
				.md-list-item-inner.md-no-style {
					padding: 0 6px;
					min-height: 40px;
					height: 40px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}
		}
		md-input-container {
			height: 40px;
			min-height: 40px;
			width: 100%;
			margin: 0;
			padding: 0;
		}
	}
}

@at-root .q-grid-persistence-tooltip {
	text-transform: uppercase;
}
