@at-root .q-grid-query-builder-panel.q-grid-menu {
    .q-grid-query-builder {
        &-expression {
            .mat-select {
                width: auto;
                &-value {
                    max-width: none;
                }
                &-arrow-wrapper {
                    display: none;
                }
            }
            .qb {
                &-operation,
                &-operator {
                    .mat-select-value {
                        color: #3eb1c8;
                    }
                }
            }
        }
        &-icon-button {
            height: 20px;
            width: 20px;
            line-height: 20px;
            .q-grid-icon {
                line-height: 16px;
                height: 20px;
                width: 20px;
                font-size: 16px;
            }
        }
    }
}