@import "variables";

&.q-grid-box:not(.q-grid-drag) {
	th:hover {
		.q-grid-column-filter {
			visibility: visible;
		}
	}
}

.q-grid-column-filter {
	visibility: hidden;
	position: absolute;
	right: 0;
	top: calc(50% - 8px);

	&.q-grid-active {
		visibility: visible;
		md-icon {
			color: $dark;
		}

		& + label {
			color: $dark;
		}
	}

	button {
		font-size: 12px;
		width: 16px;
		min-width: 16px;
		min-height: 16px;
		height: 16px;
		outline: none;
		border: none;
		background: transparent;
		padding: 0;
		left: 0;
		margin: 0 2px;

		md-icon {
			color: $dark-secondary;
			font-size: 16px;
			height: 16px;
			width: 16px;
			min-height: 16px;
			min-width: 16px;
		}
	}

}

.q-grid-column-filter-panel {
	width: 320px;
	ul {
		list-style-type: none;
		padding: 0;
	}

	md-input-container {
		margin: 0;
		width: 100%;
	}

	md-checkbox {
		margin: 0 0 10px 0;
	}

	.q-grid-column-filter-filter {
		margin-left: 4px;
		margin-right: 4px;
		margin-bottom: 0;
		margin-top: 0;

		.md-errors-spacer {
			display: none;
		}
	}

	.q-grid-column-filter-list {
		overflow-y: auto;
		height: 376px;
		ul {
			margin: 0;
		}
	}

	.q-grid-column-filter-actions {
		padding: 7px 0;
	}
}