<q-grid [caption]="title"
		[rows]="rows">
	<q-grid-columns>
		<q-grid-column key="notNumber"
					   type="number"
					   title="notNumber">
		</q-grid-column>
		<q-grid-column key="notBoolean"
					   type="boolean"
					   title="notBoolean">
		</q-grid-column>
		<q-grid-column key="notImage"
					   type="image"
					   title="notImage">
		</q-grid-column>
		<q-grid-column key="notArray"
					   type="array"
					   title="notArray">
		</q-grid-column>
		<q-grid-column key="notEmail"
					   type="email"
					   title="notEmail">
		</q-grid-column>
		<q-grid-column key="notCurrency"
					   type="currency"
					   title="notCurrency">
		</q-grid-column>
		<q-grid-column key="notTime"
					   type="time"
					   title="notTime">
		</q-grid-column>
	</q-grid-columns>
</q-grid>