<div *ngIf="isEdited; else chipsView">
	<md-input-container>
		<input mdInput
				 q-grid-focus
				 (keyup)="checkEndEdit($event)"
				 [(ngModel)]="value"
				 (blur)="endEdit()">
	</md-input-container>
</div>
<ng-template #chipsView>
	<div *ngIf="!isNew; else addNewInput">
		<md-chip
			[selected]="isSelected"
			(keyup) = "onChipKeyUp($event)"
			(focus) = "onChipFocus()"
			(blur) = "onChipBlur()">

			<span (click)="onChipClick(chipIndex)">{{value}}</span>
			<i class="material-icons md-9 resize-on-hover mouse-pointer" (click)="deleteThis(chipIndex)">clear</i>
		</md-chip>
	</div>
	<ng-template #addNewInput>
		<md-input-container class="edit-array-new-item">
			<input mdInput
					 #addNewInput
					 placeholder="New item"
					 (keyup)="checkAdd($event)"
					 [(ngModel)]="newValue">
		</md-input-container>
	</ng-template>
</ng-template>
