<div *ngIf="isEdited(chipIndex); else chipsView">
	<md-input-container>
		<input mdInput
				 q-grid-focus
				 (keyup)="checkEndEdit($event)"
				 [(ngModel)]="selectedItem.value"
				 (blur)="endEdit()">
	</md-input-container>
</div>
<ng-template #chipsView>
	<div *ngIf="!isNew(chipIndex); else addNewInput">
		<md-chip
			[selected]="chipIndex === selectedItem.currentIndex"
			(keyup) = "onChipKeyUp($event, chipIndex)"
			(focus) = "onChipFocus(chipIndex)"
			(blur) = "onChipBlur()">

			<span (click)="onChipClick(chipIndex)">{{chipValue}}</span>
			<i class="material-icons md-9 resize-on-hover mouse-pointer" (click)="delete(chipIndex)">clear</i>
		</md-chip>
	</div>
	<ng-template #addNewInput>
		<md-input-container class="edit-array-new-item">
			<input mdInput
					 #addNewInput
					 placeholder="New item"
					 (keyup)="checkAdd($event)"
					 [(ngModel)]="newValue">
		</md-input-container>
	</ng-template>
</ng-template>
