<q-grid [caption]="title"
        [rows]="rows | async">
        <q-grid-columns>
                <q-grid-column title="N."
                               key="number"
                               widthMode="fit-head">
                </q-grid-column>
                <q-grid-column title="Symbol"
                               key="symbol"
                               widthMode="fit-head">
                </q-grid-column>
                <q-grid-column title="Name"
                               key="name"
                               widthMode="fit-head">
                </q-grid-column>
                <q-grid-column title="Appearance"
                               key="appearance"
                               widthMode="fit-head">
                </q-grid-column>
        </q-grid-columns>
</q-grid>