html, body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 14px;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

main {
  height: 100%;
  .mat-card {
    height: calc(100% - 32px);
    margin: 15px;

    padding: 0px 16px;
  }
}
