<colgroup *ngIf="$view.body.lastRow">
    <col *ngFor="let $col of $view.body.render.columns($view.body.lastRow, $table.pin); trackBy: columnId; index as $columnIndex" 
            style="background-color:rgb(255, 238, 0);width:450px">
</colgroup>

<tr *ngFor="let $row of $view.body.rows; index as $rowIndex; trackBy: rowId"
	 [q-grid-core-tr]="$row"
     [q-grid-core-index]="$rowIndex"
	 q-grid-core-source="body">
	<td *ngFor="let $column of $view.body.render.columns($row, $table.pin); trackBy: columnId"
		 [attr.rowspan]="$view.body.render.rowspan($row, $column)"
		 [attr.colspan]="$view.body.render.colspan($row, $column)">
		<ng-container [q-grid-core-td]="$column">
	</ng-container>
	</td>
</tr>
