<q-grid caption="Edit Row Basic"
	[rows]="rows | async">
	<q-grid-columns generation="deep">
		<q-grid-column key="editForm"
		               type="edit-form"
		               pin="left"
		               canFilter="false"
		               canSort="false"
			       canEdit="false"
			       width="60">
			<ng-template for="body"
			             let-$cell>
				<q-grid-edit-form-trigger title="Edit Form"
				                          [cell]="$cell">
				</q-grid-edit-form-trigger>
			</ng-template>
		</q-grid-column>
	</q-grid-columns>
</q-grid>