<q-grid caption="Define Column Hybrid"
		[rows]="rows | async"
		[columns]="columns">
	<q-grid-columns>
		<q-grid-column key="number"
		               title="should be html №"
		               width="90"
		               type="id">
		</q-grid-column>
		<q-grid-column key="symbol"
		               title="shouldn't be html Symbol"
		               type="text">
		</q-grid-column>
		<q-grid-column key="name"
		               title="should be html Name">
		</q-grid-column>
		<q-grid-column key="source"
		               title="should be html Wiki"
		               width="300"
		               type="url">
		</q-grid-column>
	</q-grid-columns>
</q-grid>