.q-grid-editor {
	&.q-grid-date {
		.md-datepicker-button {
			margin-left: 0;
			padding: 0;
			width: 24px;
			height: 24px;
		}
		.md-datepicker-triangle-button {
			margin-right: 0;
			padding: 0;
			width: 24px;
			height: 24px;
		}
	}
}