th.q-grid-filter-row {
    text-overflow: unset;
    &:hover {
        label {
            font-weight: normal;
        }
    }
    .mat-form-field {
        width: 100%;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.87);
    }
}