@at-root .q-grid-column-chooser {
    width: 300px;
    ul {
        list-style-type: none;
        padding: 0;
    }
    md-checkbox {
        margin: 0 0 10px 0;
    }
    .q-grid-column-chooser-filter {
        width: 100%;
    }
    .q-grid-column-chooser-list {
        margin: 0;
        overflow-y: auto;
        height: 280px;
        md-input-container {
            margin: 0;
        }
    }
}