@import "../variables";

@at-root .q-grid-column-filter-panel {

	md-input-container {
		margin: 0;
		width: 100%;
	}

	md-checkbox {
		margin: 0 0 10px 0;
	}

	.q-grid-column-filter-filter {
		.md-errors-spacer {
			display: none;
		}
	}

}