#details-row-pin {
    td.q-grid {
        &-row-details,
        &-row-details-pad {
            height: 200px;
        }
    }

    a {
        text-decoration: none;
        font-weight: bold;
    }

    .atom-details {
        display: flex;
        margin: 7px 0 7px -1px;
        height: 100%;
        overflow: auto;
    }

    .atom-details .atom-box {
        width: 100px;
        height: 100px;
        border: 2px solid #C8C8C8;
        border-radius: 3px;
        margin-top: 10px;
    }

    .atom-details .atom-info {
        display: flex;
        font-size: 15px;
        word-wrap: break-word;
        width: 45%;
        white-space: normal;
    }

    .atom-number {
        text-align: right;
        font-size: 15px;
        margin-top: 7px;
        margin-right: 7px;
    }

    .atom-symbol {
        top: 28px;
        font-size: 36px;
        text-align: center;
        margin-top: -4px;
    }

    .atom-name {
        text-align: center;
        margin-top: -6px;
    }

    .atom-mass {
        font-size: 10px;
        text-align: center;
        margin-top: 7px;
    }

    .atom-description {
        margin: auto;
        margin-top: 10px;
        padding-left: 21px;
    }
}