.q-grid.q-grid-theme-material {
    @import "assets/grid";
    @import "assets/head";
    @import "assets/body";
    @import "assets/foot";
    @import "assets/pagination";
    @import "assets/toolbar";
    @import "assets/sort.bar";
    @import "assets/group.bar";
    @import "assets/pivot.bar";
    @import "assets/selection.bar";
    @import "assets/node";
    @import "assets/pivot";
    @import "assets/sort";
    @import "assets/cell";
    @import "assets/cell.edit";
    @import "assets/visibility";
    @import "assets/column.chooser";
    @import "assets/progress";
    @import "assets/highlight";
    @import "assets/column.filter";
    @import "assets/edit.form";
    @import "assets/export";
	@import "assets/menu";
	@import "assets/title";
    @import "assets/mat.cell.edit";
    @import "assets/mat.pagination";
	@import "assets/mat.progress";
    @import "assets/popup";
}

.q-grid-excel .q-grid.q-grid-theme-material {
    @import "assets/excel";
}

@import "assets/embed";
@import "assets/mat.popup";
@import "assets/mat.menu";