<q-grid caption="Column Data Safe"
		[rows]="rows"
		editMode="cell">
	<q-grid-columns>
		<q-grid-column key="currency"
					   type="currency"
					   path="level0.currency"
					   title="Currency">
		</q-grid-column>
		<q-grid-column key="number"
					   type="number"
					   path="level0.number"
					   title="Number">
		</q-grid-column>
		<q-grid-column key="notProperty"
					   path="notProperty"
					   title="Not Existing Property">
		</q-grid-column>
		<q-grid-column key="notProperty2"
					   path="level2.notProperty"
					   title="Not Existing Property on Level 2">
		</q-grid-column>
		<q-grid-column key="time"
					   type="time"
					   path="level0.time"
					   title="Time">
		</q-grid-column>
		<q-grid-column key="array"
					   type="array"
					   path="level0.array"
					   title="Array">
		</q-grid-column>
		<q-grid-column key="email"
					   type="email"
					   path="level0.email"
					   title="Email">
		</q-grid-column>
		<q-grid-column key="date"
					   type="date"
					   path="level0.date"
					   title="Date">
		</q-grid-column>
		<q-grid-column key="image"
					   type="image"
					   path="level0.image"
					   title="Image">
		</q-grid-column>
	</q-grid-columns>
</q-grid>