<q-grid caption="Interaction Mode Detached"
        interactionMode="detached"
        [rows]="rows">
        <q-grid-columns generation="deep">
                <q-grid-column key="test"
                               title="Test Detached"
                               index="0"
                               canFilter="false"
                               canSort="false">
                        <ng-template for="body">
                                <button mat-button
                                        (click)="testDetached()">
                                        Alert
                                </button>
                        </ng-template>
                </q-grid-column>
        </q-grid-columns>
</q-grid>