<q-grid [caption]="title"
		[rows]="rows | async">
	<q-grid-columns generation="deep">
	</q-grid-columns>
	<q-grid-toolbar>
		<ng-template for="right">
			<h2 class="mat-card-title">Mouse event log</h2>
			<div id="mouse-event-log"
				 #mouseEventLog>
				<span *ngFor="let entry of logEntries">
					status: {{entry.status}}
					<br>
					code: {{entry.code}}
					<br>
					target: {{entry.target}}
					<hr>
				</span>
			</div>
		</ng-template>
	</q-grid-toolbar>
	<q-grid-visibility [toolbarRight]="true">
	</q-grid-visibility>
</q-grid>