<table q-grid-markup="table" tabindex="0">
  <thead *ngIf="visibility.head"
         q-grid-core-head
         q-grid-markup="head"
         q-grid-animate="false">
  </thead>
  <tbody *ngIf="visibility.body"
         q-grid-markup="body"
         q-grid-animate="false"
         vscroll
         vscroll-port-y="$view.scroll.y"
         q-grid-core-body>
  <!--<ng-container  *ngTemplateOutlet="getTemplate('body.tpl.html'); context: getContext()"></ng-container>-->
  </tbody>
  <tfoot *ngIf="visibility.foot"
         q-grid-core-foot
         q-grid-markup="foot"
         q-grid-animate="false">
  </tfoot>
</table>
