<table q-grid-markup="table" tabindex="0">
  <thead *ngIf="visibility.head"
         ng-include="templateUrl('head')"
         q-grid-core-head
         q-grid-markup="head"
         q-grid-animate="false">
  </thead>
  <tbody ng-include="templateUrl(scroll.mode === 'virtual' ? 'body.virtual' - 'body')"
         *ngIf="visibility.body"
         q-grid-core-body
         q-grid-markup="body"
         q-grid-animate="false"
         vscroll
         vscroll-port-y="$view.scroll.y">
  </tbody>
  <tfoot *ngIf="visibility.foot"
         ng-include="templateUrl('foot')"
         q-grid-core-foot
         q-grid-markup="foot"
         q-grid-animate="false">
  </tfoot>
</table>
