<style>
	div.male {
		background: #22DB7E;
	}

	div.female {
		background: #267ED5;
	}

	div.undef {
		background: #999;
	}
</style>

<mat-card>
	<button (click)="foo = !foo">Click</button>
	<q-grid *ngIf="foo"
			id="q-grid-demo"
			[model]="gridModel"
			q-grid-autofocus
			[columns]="columns"
			[sortBy]="['+name.last', '-name.first']"
			[groupBy]="['gender']"
			[editCommit]="commitCommand"
			header="NG2 QGRID SANDBOX">

		<q-grid-columns>
			<q-grid-column type="row-indicator"
						   key="rowIndicator">
			</q-grid-column>
			<q-grid-column type="row-number"
						   key="rowNumber">
			</q-grid-column>
			<q-grid-column type="row-options"
						   key="rowOptions">
			</q-grid-column>
			<q-grid-column type="number"
						   aggregation="max">
			</q-grid-column>
		</q-grid-columns>

		<q-grid-legend>
			<ng-template for="content">
				<ul class="q-grid-legend-list">
					<li>
						<div class="q-grid-legend-item male"></div>
						Male
					</li>
					<li>
						<div class="q-grid-legend-item female"></div>
						Female
					</li>
					<li>
						<div class="q-grid-legend-item undef"></div>
						Undefined
					</li>
				</ul>
			</ng-template>
		</q-grid-legend>

		<q-grid-data-manipulation>
		</q-grid-data-manipulation>

		<q-grid-persistence>
		</q-grid-persistence>

		<q-grid-query-builder>
		</q-grid-query-builder>

		<q-grid-row canMove="true"
					canResize="true">
		</q-grid-row>

		<!-- <q-grid-toolbar>
			<ng-template for="top">
				<mat-form-field>
					<mat-select [(value)]="dataSet"
								(selectionChange)="dataSetChange()"
								placeholder="Data Set">
						<mat-option value="10">people/10</mat-option>
						<mat-option value="100">people/100</mat-option>
						<mat-option value="1000">people/1000</mat-option>
						<mat-option value="10000">people/10000</mat-option>
						<mat-option value="10000">people/100000</mat-option>
					</mat-select>
				</mat-form-field>
			</ng-template>
		</q-grid-toolbar> -->

		<!-- <q-grid-layer>
			<ng-template for="blank">
				<div style="margin: 0 auto; top: 50%; width: 80px; position: relative;">
					<button (click)="loadData()">Load Rows</button>
				</div>
			</ng-template>
		</q-grid-layer> -->

		<!-- <q-grid-toolbar>
			<ng-template for="top">
				<q-grid-action-bar></q-grid-action-bar>
			</ng-template>
		</q-grid-toolbar>

f -->


		<!-- <q-grid-row unit="details">
				<ng-template for="details">
					<q-grid>
						<q-grid-columns>
							<q-grid-column type="row-number"
										   key="rowNumber">
							</q-grid-column>
						</q-grid-columns>
					</q-grid>
				</ng-template>
			</q-grid-row> -->

	</q-grid>
</mat-card>