<ng-template key="body-cell-row-indicator.tpl.html"
             let-$cell
             let-$view="$view">
    <ng-container *ngIf="$view.row.canDrag">
        <div [q-grid-drag]="$view.row.transfer($cell.rowIndex)"
             [q-grid-drop]="$view.row.transfer($cell.rowIndex)"
             (q-grid-on-drop)="$view.row.drop.execute($event)"
             [q-grid-can-drop]="$view.row.drop.canExecute"
             [q-grid-can-drag]="$view.row.drag.canExecute"
             class="q-grid-draggable">
            <mat-icon class="q-grid-icon">more_vert</mat-icon>
        </div>
    </ng-container>
</ng-template>