<ng-template key='edit-cell-time.tpl.html'
             let-$cell
             let-$view="$view">
    <q-grid-cell-editor class="q-grid-time q-grid-editor q-grid-position q-grid-text"
                        (close)="$view.edit.cell.exit.execute($cell)"
                        q-grid-position="td">
        <ng-template>
            <mat-form-field>
                <input matInput
                       type="time"
                       #input
                       q-grid-focus
                       [ngModel]="$view.edit.cell.value | date: 'hh:mm'"
                       (ngModelChanged)="$view.edit.cell.value = $event" />
            </mat-form-field>
        </ng-template>
    </q-grid-cell-editor>
</ng-template>