<ng-template key="edit-form-image.tpl.html"
             let-$editor>
    <h3>{{$editor.cell.column.title}}</h3>
    <div class="q-grid-file-upload-area"
         [ngClass]="{'q-grid-file-has-preview': $editor.cell.column.hasPreview($editor.label)}">
        <div class="layout-column q-grid-file-upload-message"
             [ngSwitch]="!!$editor.value">
            <span class="q-grid-file-upload-filename"
                  *ngSwitchCase="true">
                {{$editor.label}}
            </span>
            <div class="layout-row layout-align-center-center">
                <mat-icon>file_upload</mat-icon>
                <span *ngSwitchCase="false">Drag and drop an image here or click</span>
                <span *ngSwitchCase="true">Drag and drop or click to replace </span>
            </div>
        </div>
        <input [(q-grid-file)]="$editor.value"
               [(q-grid-file-label)]="$editor.label"
               [q-grid-file-is-valid]="$editor.cell.column.canUpload"
               type="file" />
        <div class="q-grid-file-preview"
             *ngIf="$editor.cell.column.hasPreview($editor.label)">
            <img [src]="$editor.value" />
        </div>
    </div>
</ng-template>