<ng-template key='edit-form-text-area.tpl.html'
             let-$control>
            <mat-form-field>
                <textarea matInput
                          #input
                          rows="10"
                          q-grid-focus
                          [(ngModel)]="$control.cellEditor.value">
                </textarea>
                <mat-hint align="end">{{input.value.length}} / {{$control.cellEditor.cell.column.maxLength}}</mat-hint>
            </mat-form-field>
</ng-template>