<ng-template key="edit-cell-date.tpl.html"
             let-$cell
             let-$view="$view">
	<q-grid-cell-editor class="q-grid-date q-grid-editor q-grid-position q-grid-text"
	                    (close)="$view.edit.cell.exit.execute($cell)"
	                    q-grid-position="td">
		<ng-template>
			<mat-form-field *q-grid-date="let isValid='isValid'"
			 [ngClass]="{'mat-form-field-invalid': !isValid(input.value)}"> 
				<input q-grid-focus
					   matInput
					   #input
				       [matDatepicker]="picker"
				       [ngModel]="$view.edit.cell.value | date:'yyyy-MM-dd'"
				       (ngModelChange)="isValid(input.value) && ($view.edit.cell.value = $event)" />
				<mat-datepicker-toggle matSuffix
				                       [for]="picker">
				</mat-datepicker-toggle>
				<mat-datepicker #picker>
				</mat-datepicker>
			</mat-form-field>
			<q-grid-validator class="q-grid-validator"
			                  [key]="$cell.column.key"
			                  [type]="$cell.column.type"
			                  [value]="$view.edit.cell.value"> 
			</q-grid-validator>
		</ng-template>
	</q-grid-cell-editor>
</ng-template>
