<ng-template key='edit-cell-row-options.tpl.html'
             let-$cell
             let-$view="$view">
    <button aria-label="Open row menu"
            mat-icon-button
            [matMenuTriggerFor]="menu"            
            (q-grid-menu-trigger)="$view.edit.cell.cancel.execute($cell)">
        <mat-icon class="q-grid-icon">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item
                *ngFor="let $action of $cell.column.editorOptions.actions"
                (click)="$action.command.execute($cell)"
                [disabled]="!$action.command.canExecute($cell)">
            <mat-icon class="q-grid-icon">{{$action.icon}}</mat-icon>
            <span>{{$action.title}}</span>
        </button>
    </mat-menu>
</ng-template>