<ng-template key="filter-cell-date.tpl.html"
             let-$cell
             let-$view="$view">
    <mat-form-field *ngIf="$cell.column.canFilter"
                    floatLabel="never">
        <mat-placeholder>
            <mat-icon>filter_list</mat-icon>
        </mat-placeholder>
        <input matInput
               #input
               [matDatepicker]="picker"
               (dateChange)="$view.filter.column.execute($cell.column.model, input.value)" />
        <mat-datepicker-toggle matSuffix
                               [for]="picker">
        </mat-datepicker-toggle>
        <mat-datepicker #picker>
        </mat-datepicker>
    </mat-form-field>
</ng-template>