<ng-template key="column-chooser.tpl"
             let-$columnChooser>
	<mat-card class="mat-elevation-z">
		<mat-card-header>
			<mat-card-title>Columns Filter</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<div class="flex-none layout-row">
				<mat-form-field class="q-grid-column-chooser-filter">
					<input type="search"
					       placeholder="Find in the list"
					       matInput
					       [(ngModel)]="$columnChooser.filter"
					       q-grid-focus />
				</mat-form-field>
			</div>
			<div class="flex layout-column">
				<ul class="q-grid-column-chooser-toolbar">
					<li>
						<mat-checkbox [checked]="$columnChooser.stateAll()"
						              (change)="$columnChooser.toggleAll.execute()"
						              [indeterminate]="$columnChooser.isIndeterminate()">
							Select All
						</mat-checkbox>
					</li>
					<li>
						<mat-checkbox [checked]="$columnChooser.stateDefault()"
						              (change)="$columnChooser.defaults.execute()">
							Select Defaults
						</mat-checkbox>
					</li>
				</ul>
				<ul class="q-grid-column-chooser-list">
					<li *ngFor="let column of $columnChooser.columns | qGridFilter: {title: $columnChooser.filter}"
					    q-grid-drag="$columnChooser.transfer(column)"
					    q-grid-drop="$columnChooser.transfer(column)"
					    q-grid-on-drop="$columnChooser.drop.execute($event)"
					    q-grid-can-drop="$columnChooser.drop.canExecute($event)"
					    q-grid-can-drag="$columnChooser.drag.canExecute($event)">

						<mat-checkbox *ngIf="$columnChooser.toggle.canExecute(column)"
						              [checked]="$columnChooser.state(column)"
						              (change)="$columnChooser.toggle.execute(column)"
						              [aria-label]="Selection">
							<span [innerHTML]="column.title | qGridHighlight: $columnChooser.filter"></span>
						</mat-checkbox>
					</li>
				</ul>
			</div>
		</mat-card-content>
		<mat-card-actions>
			<button mat-button
			        (click)="$columnChooser.cancel.execute()">Cancel</button>
			<button mat-button
			        color="primary"
			        (click)="$columnChooser.submit.execute()">Apply</button>
		</mat-card-actions>
	</mat-card>
</ng-template>