<ng-template key="plugin-eb-autocomplete.tpl.html"
             let-$expr>
	<mat-form-field floatLabel="never"
	                q-grid-autosize="input"
	                [q-grid-eb-class]="$expr.classes"
					[q-grid-eb-class-model]="$expr"
					matTooltip="{{$expr.state.join(', ')}}"
					matTooltipPosition="after"
					matTooltipShowDelay="500"
					matTooltipClass="q-grid-query-builder-error-tooltip">
		<input matInput
		       #input
		       [(ngModel)]="$expr.value"
		       (input)="$expr.change && $expr.change();$expr.refresh && $expr.refresh()"
		       (optionSelected)="$expr.change && $expr.change()"
		       [placeholder]="$expr.placeholderText"
		       [matAutocomplete]="auto">
	</mat-form-field>

	<mat-autocomplete #auto="matAutocomplete">
		<mat-option *ngFor="let option of $expr.options | async"
		            [value]="option">
			{{option}}
		</mat-option>
	</mat-autocomplete>
</ng-template>