<ng-template key="plugin-column-filter-number.tpl.html"
             let-$columnFilter
             let-$plugin="plugin"
             let-$vscroll="vscroll">
	<div class="plugin-column-filter-number">
		<mat-select class="q-grid-column-filter-change-operator"
		            [(value)]="$plugin.numberOperatorKey"
		            (selectionChange)="$plugin.reset()">
			<mat-select-trigger>
				<mat-icon class="q-grid-icon">more_vert</mat-icon>
			</mat-select-trigger>

			<mat-option *ngFor="let opKey of $plugin.numberOperatorsKeys"
			            value="{{ opKey }}">
				{{ $plugin.numberOperators[opKey].name }}
			</mat-option>
		</mat-select>

		<div [ngSwitch]="$plugin.numberOperatorKey">
			<!-- For default Contains operator -->
			<ng-container *ngSwitchCase="'contains'"
			              key="plugin-column-filter.tpl.html"
			              [context]="{ $implicit: $columnFilter, plugin: $plugin, vscroll: $vscroll }"></ng-container>

			<!-- For custom number operators -->
			<mat-card *ngSwitchDefault
			          class="mat-elevation-z">
				<mat-card-header>
					<mat-card-title> {{ $columnFilter.title }} Filter </mat-card-title>
				</mat-card-header>
				<mat-card-content [ngSwitch]="$plugin.currentOperator.inputType">
					<!-- For Between, etc. operators -->
					<div *ngSwitchCase="'twoFields'">
						<mat-form-field class="q-grid-column-filter-filter half">
							<input matInput
							       [placeholder]="$plugin.currentOperator.leftInputLabel"
							       [(ngModel)]="$plugin.exprValue[0]"
							       q-grid-focus />
						</mat-form-field>
						<mat-form-field class="q-grid-column-filter-filter half">
							<input matInput
							       [placeholder]="$plugin.currentOperator.rightInputLabel"
							       [(ngModel)]="$plugin.exprValue[1]"/>
						</mat-form-field>
					</div>

					<!-- For IsEmpty, IsNotEmpty etc. operators -->
					<div *ngSwitchCase="'disabled'">
						<mat-form-field class="q-grid-column-filter-filter">
							<input matInput
							       disabled
							       [placeholder]="$plugin.currentOperator.leftInputLabel"
							       q-grid-focus />
						</mat-form-field>
					</div>

					<!-- For Equals, Less/Gr.than etc. operators -->
					<div *ngSwitchDefault>
						<mat-form-field class="q-grid-column-filter-filter">
							<input matInput
							       [placeholder]="$plugin.currentOperator.leftInputLabel"
							       [(ngModel)]="$plugin.exprValue[0]"
							       q-grid-focus />
						</mat-form-field>
					</div>
				</mat-card-content>
				<mat-card-actions>
					<button mat-button
					        (click)="$columnFilter.cancel.execute()">
						Cancel
					</button>
					<button mat-button
					        (click)="$plugin.clear()">
						Clear
					</button>
					<button mat-button
					        color="primary"
					        (click)="$columnFilter.submit.execute($plugin.numberOperatorKey, $plugin.value)">
						Apply
					</button>
				</mat-card-actions>
			</mat-card>
		</div>
	</div>
</ng-template>