<ng-template key="plugin-column-filter-default-between.tpl.html"
             let-$columnFilter
             let-$plugin="plugin"
             let-$vscroll="vscroll">

	<mat-form-field class="q-grid-column-filter-input half">
		<input matInput
		       placeholder="From"
		       [(ngModel)]="$columnFilter.value[0]"
		       q-grid-focus />
	</mat-form-field>

	<mat-form-field class="q-grid-column-filter-input half">
		<input matInput
		       placeholder="To"
		       [(ngModel)]="$columnFilter.value[1]" />
	</mat-form-field>

</ng-template>