<ng-template key="persistence.tpl"
             let-$persistence>
    <div class="q-grid-persistence-panel q-grid-popup-panel" 
         layout="column" 
         flex="100" 
         ng-keydown="$persistence.keyDown($event)">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Save/Load</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div flex="none"
                     layout="row">
                    <div class="flex-100">
                        <mat-input-container class="q-grid-persistence-title">
                            <label>Save As...</label>
                            <input type="text" ng-model="$persistence.title" q-grid:focus q-grid:focus-delay="400"/>
                        </mat-input-container>
                    </div>
                    <div class="flex-none">
                        <mat-button class="mat-primary q-grid-persistence-save" 
                                    mat-prevent-menu-close
                                    ng-click="$persistence.save.execute()" 
                                    ng-disabled="!$persistence.save.canExecute()">
                            Save
                        </mat-button>
                    </div>
                </div>
                <div class="flex">
                    <mat-list class="mat-dense" ng-cloak>
                        <mat-list-item class="mat-2-line q-grid-persistence-blank"
                                       ng-class="{'q-grid-persistence-selected': $persistence.isActive($persistence.blank)}">
                            <div class="mat-list-item-text">
                                <mat-button class="mat-primary"
                                            ng-click="$persistence.load.execute($persistence.blank)">
                                    <h3>{{::$persistence.blank.title}}</h3>
                                    <ul>
                                        <li>{{$persistence.blank.modified | date: 'yyyy/MM/dd h:mm a'}}</li>
                                    </ul>
                                </mat-button>
                            </div>
                            <mat-tooltip class="q-grid-persistence-tooltip">No settings</mat-tooltip>
                        </mat-list-item>
                        <mat-list-item class="mat-2-line"
                                       ng-repeat="item in $persistence.items | orderBy: '-modified' track by $index"
                                       ng-class="{'q-grid-persistence-selected': $persistence.isActive(item)}">
                            <div class="default-icon">
                                <mat-icon class="q-grid-icon" ng-if="item.isDefault">star</mat-icon>
                            </div>
                            <div class="mat-list-item-text">
                                <mat-button class="mat-primary"
                                            ng-click="$persistence.load.execute(item)"
                                            ng-if="$persistence.state.editItem !== item">
                                    <h3>{{item.title}}</h3>
                                    <ul>
                                        <li>{{item.modified | date: 'yyyy/MM/dd h:mm a'}}</li>
                                    </ul>
                                </mat-button>
                                <mat-input-container ng-if="$persistence.state.editItem === item">
                                    <input ng-blur="$persistence.edit.commit.canExecute(item) && $persistence.edit.commit.execute(item)"
                                           ng-model="item.title"
                                           q-grid:focus/>
                                </mat-input-container>
                            </div>
                            <mat-tooltip class="q-grid-persistence-tooltip">{{::$persistence.stringify(item)}}</mat-tooltip>
                            <mat-menu>
                                <mat-button class="mat-icon-button q-grid-more"
                                            aria-label="More"
                                            ng-click="$mdOpenMenu($event)">
                                    <mat-icon class="q-grid-icon">more_vert</mat-icon>
                                </mat-button>
                                <mat-menu-content width="4">
                                    <mat-menu-item>
                                        <mat-button ng-click="$persistence.setDefault.execute(item)"
                                                    ng-disabled="!$persistence.setDefault.canExecute(item)">
                                            <mat-icon class="q-grid-icon" mat-menu-align-target>star</mat-icon>
                                            Default
                                        </mat-button>
                                    </mat-menu-item>
                                    <mat-menu-item>
                                        <mat-button ng-click="$persistence.edit.enter.execute(item)"
                                                    ng-disabled="!$persistence.edit.enter.canExecute(item)">
                                            <mat-icon class="q-grid-icon" mat-menu-align-target>mode_edit</mat-icon>
                                            Edit
                                        </mat-button>
                                    </mat-menu-item>
                                    <mat-menu-item>
                                        <mat-button ng-click="$persistence.remove.execute(item)"
                                                    ng-disabled="!$persistence.remove.canExecute(item)">
                                            <mat-icon class="q-grid-icon" mat-menu-align-target>close</mat-icon>
                                            Remove
                                        </mat-button>
                                    </mat-menu-item>
                                </mat-menu-content>
                            </mat-menu>
                        </mat-list-item>
                    </mat-list>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</ng-template>