<ng-template key="plugin-column-filter-date.tpl.html"
             let-$columnFilter
             let-$plugin="plugin"
             let-$vscroll="vscroll">
	<div class="plugin-column-filter-number">
		<mat-select class="q-grid-column-filter-change-operator"
		            [(value)]="$plugin.dateOperatorKey"
		            (selectionChange)="$plugin.reset()">
			<mat-select-trigger>
				<mat-icon class="q-grid-icon">more_vert</mat-icon>
			</mat-select-trigger>

			<mat-option *ngFor="let opKey of $plugin.dateOperatorsKeys"
			            [value]="opKey">
				{{ $plugin.dateOperators[opKey].name }}
			</mat-option>
		</mat-select>

		<div [ngSwitch]="$plugin.dateOperatorKey">
			<!-- For default Contains operator -->
			<ng-container *ngSwitchCase="'contains'"
			              key="plugin-column-filter.tpl.html"
			              [context]="{ $implicit: $columnFilter, plugin: $plugin, vscroll: $vscroll }"></ng-container>

			<!-- For custom number operators -->
			<mat-card *ngSwitchDefault
			          class="mat-elevation-z">
				<mat-card-header>
					<mat-card-title> {{ $columnFilter.title }} Filter </mat-card-title>
				</mat-card-header>
				<mat-card-content [ngSwitch]="$plugin.currentOperator.inputType">
					<!-- For Between, etc. operators -->
					<div *ngSwitchCase="'twoFields'">
						<mat-form-field class="q-grid-column-filter-filter half"
						                *q-grid-date="let isValid='isValid'"
						                [ngClass]="{'mat-form-field-invalid': !isValid(inputLeft.value)}">
							<input q-grid-focus
							       matInput
							       #inputLeft
							       [matDatepicker]="picker"
							       [placeholder]="$plugin.currentOperator.leftInputLabel"
							       [ngModel]="$plugin.exprValue[0] | qGridDate:'yyyy-MM-dd'"
							       (ngModelChange)="isValid(inputLeft.value) && ($plugin.exprValue[0] = $event)" />
							<mat-datepicker-toggle matSuffix
							                       [for]="picker">
							</mat-datepicker-toggle>
							<mat-datepicker #picker>
							</mat-datepicker>
						</mat-form-field>

						<mat-form-field class="q-grid-column-filter-filter half"
						                *q-grid-date="let isValid='isValid'"
						                [ngClass]="{'mat-form-field-invalid': !isValid(inputRight.value)}">
							<input matInput
							       #inputRight
							       [matDatepicker]="picker"
							       [placeholder]="$plugin.currentOperator.rightInputLabel"
							       [ngModel]="$plugin.exprValue[1] | qGridDate:'yyyy-MM-dd'"
							       (ngModelChange)="isValid(inputRight.value) && ($plugin.exprValue[1] = $event)" />
							<mat-datepicker-toggle matSuffix
							                       [for]="picker">
							</mat-datepicker-toggle>
							<mat-datepicker #picker>
							</mat-datepicker>
						</mat-form-field>
					</div>

					<!-- For IsEmpty, IsNotEmpty etc. operators -->
					<div *ngSwitchCase="'disabled'">
						<mat-form-field class="q-grid-column-filter-filter">
							<input matInput
							       disabled
							       q-grid-focus />
						</mat-form-field>
					</div>

					<!-- For Equals, Less/Gr.than etc. operators -->
					<div *ngSwitchDefault>
						<mat-form-field class="q-grid-column-filter-filter"
						                *q-grid-date="let isValid='isValid'"
						                [ngClass]="{'mat-form-field-invalid': !isValid(input.value)}">
							<input q-grid-focus
							       matInput
							       #input
							       [matDatepicker]="picker"
							       [placeholder]="$plugin.currentOperator.leftInputLabel"
							       [ngModel]="$plugin.exprValue[0] | qGridDate:'yyyy-MM-dd'"
							       (ngModelChange)="isValid(input.value) && ($plugin.exprValue[0] = $event)" />
							<mat-datepicker-toggle matSuffix
							                       [for]="picker">
							</mat-datepicker-toggle>
							<mat-datepicker #picker>
							</mat-datepicker>
						</mat-form-field>
					</div>
				</mat-card-content>
				<mat-card-actions>
					<button mat-button
					        (click)="$columnFilter.cancel.execute()">
						Cancel
					</button>
					<button mat-button
					        (click)="$plugin.clear()">
						Clear
					</button>
					<button mat-button
					        color="primary"
					        (click)="$columnFilter.submit.execute($plugin.dateOperatorKey, $plugin.value)">
						Apply
					</button>
				</mat-card-actions>
			</mat-card>
		</div>
	</div>
</ng-template>