<ng-template key="top-toolbar.tpl.html">
	<div class="layout-row">
		<div class="flex-100"
		     style="padding: 16px 0;">
			<q-grid-caption></q-grid-caption>
		</div>
		<div class="flex-auto layout-row"
		     style="padding: 12px 0;">
			<div class="flex-100">
				<q-grid-action-bar></q-grid-action-bar>
			</div>
			<div class="flex-auto">
				<button mat-icon-button
				        tabindex="-1"
				        #trigger="matMenuTrigger"
				        [matMenuTriggerFor]="menu"
				        aria-label="Column chooser">
					<mat-icon class="q-grid-icon">more_vert</mat-icon>
				</button>
				<mat-menu #menu="matMenu"
				          class="q-grid-column-chooser q-grid-menu">
					<q-grid-column-chooser q-grid-menu
										   q-grid-theme-overlay
					                       *ngIf="trigger.menuOpen"
					                       (cancel)="trigger.closeMenu()"
					                       (submit)="trigger.closeMenu()">
					</q-grid-column-chooser>
				</mat-menu>
			</div>
		</div>
	</div>
	<div class="q-grid-progress">
		<q-grid-progress></q-grid-progress>
	</div>
</ng-template>
