<q-grid [caption]="title"
		[rows]="rows | async"
		id="export-example">
	<q-grid-columns generation="deep">
	</q-grid-columns>

	<q-grid-export type="json">
		<ng-template for="trigger"
					 let-$action>
			<button mat-button
					[q-grid-command]="$action.command">
				Export to JSON
			</button>
		</ng-template>
	</q-grid-export>
	<q-grid-export type="csv">
		<ng-template for="trigger"
					 let-$action>
			<button mat-button
					[q-grid-command]="$action.command">
				Export to CSV
			</button>
		</ng-template>
	</q-grid-export>
	<q-grid-export type="xml">
		<ng-template for="trigger"
					 let-$action>
			<button mat-button
					[q-grid-command]="$action.command">
				Export to XML
			</button>
		</ng-template>
	</q-grid-export>
	<q-grid-export type="xlsx">
		<ng-template for="trigger"
					 let-$action>
			<button mat-button
					[q-grid-command]="$action.command">
				Export to XLSX
			</button>
		</ng-template>
	</q-grid-export>

</q-grid>