<tr *ngFor="let $row of $view.head.rows; trackBy: rowId; let $rowIndex = index"
	 [q-grid-core-tr]="$row"
	 [q-grid-core-row-index]="$rowIndex"	 
	 q-grid-core-source="head">
	<th *ngFor="let $column of $view.head.columns($row, $table.pin); trackBy: columnId; let $columnIndex = index"
		 [attr.rowspan]="$column.rowspan"
		 [attr.colspan]="$column.colspan"
		 [q-grid-drag]="$view.head.transfer($column.model)"
		 [q-grid-drop]="$view.head.transfer($column.model)"
		 (q-grid-on-drop)="$view.head.drop.execute($event)"
		 [q-grid-can-drop]="$view.head.drop.canExecute"
		 [q-grid-can-drag]="$view.head.drag.canExecute"
		 [q-grid-resize]="$column.model.key"
		 q-grid-resize-path="columns"
		 [q-grid-can-resize]="$view.head.resize.canExecute">
		<ng-container [q-grid-core-th]="$column">
		</ng-container>
	</th>
</tr>
