<q-grid header="Details Row Basic"
        [rows]="rows | async">
	<q-grid-columns generation="deep">
		<q-grid-column key="number"
		               type="id"
		               title="#"
		               width="70">
		</q-grid-column>
		<q-grid-column key="symbol"
		               title="Symbol"
		               width="90">
		</q-grid-column>
		<q-grid-column key="name"
		               title="Name">
		</q-grid-column>
		<q-grid-column key="source"
		               title="Source"
		               type="url"
		               width="300">
		</q-grid-column>
	</q-grid-columns>

	<q-grid-row unit="details"
	            mode="single">
		<ng-template for="details"
		             let-$cell>
			<div class="box">
				<div class="box-avatar" [style.background-color]="'#' + $cell.row.item.color">
					<div class="atom-number">
						{{$cell.row.item.number}}
					</div>

					<div class="atom-symbol">
						{{$cell.row.item.symbol}}
					</div>

					<div class="atom-name">
						{{$cell.row.item.name}}
					</div>

					<div class="atom-mass">
						{{$cell.row.item.mass}}
					</div>
				</div>

				<div class="box-info">
					<p class="atom-info">
						<a href={{$cell.row.item.source}} target="_blank"><b>{{$cell.row.item.name}}</b></a>
						was discovered by
						<b><a href="http://www.google.com/search?q={{$cell.row.item.discoveredBy}}" target="_blank">{{$cell.row.item.discoveredBy}}</a></b>
						in <b>{{$cell.row.item.discoveredIn}}</b>.
						{{$cell.row.item.summary}}
					</p>
				</div>
			</div>
		</ng-template>
	</q-grid-row>
</q-grid>
