.master-details {
    display: flex;
    flex-direction: column;
    height: 100%;

    >div {
        height: 50%;

        >q-grid {
            height: 100%;
        }
    }
}

.likes-list {
    display: inline-flex;
    margin-left: 20px;
    outline: none;
}