<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title><%= htmlWebpackPlugin.options.title %></title>

	<meta name="description" content="<%= htmlWebpackPlugin.options.title %>">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

	<% if (webpackConfig.htmlElements.headTags) { %>
	<!-- Configured Head Tags  -->
	<%= webpackConfig.htmlElements.headTags %>
	<% } %>

	<!-- base url -->
	<base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">
	<!--<link href="../node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.7.0/css/perfect-scrollbar.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.23.0/polyfill.min.js"></script>
</head>

<body>
<app>Loading...</app>
</body>
</html>
