<md-card>
	<q-grid q-grid-autofocus 
			class="q-grid-embed" 
			[rows]="rows"
			[model]="gridModel"
			selectionUnit="row"
			editMode="cell"
			title="NG2 QGRID SANDBOX">
		<q-grid-columns generation="deep">
			<q-grid-column type="number" aggregation="sum"></q-grid-column>
			<q-grid-column key="name.last">
				<ng-template for="body" let-$cell>
					<span style="color: blue">{{$cell.value}}</span>
				</ng-template>
				<ng-template for="edit" let-$cell let-$view="$view">
					<input type="text" q-grid-focus="input" style="border: 1px solid #f00; width: 100%;" [(ngModel)]="$view.edit.cell.value"
					 (blur)="$view.edit.cell.commit.execute($cell)">
				</ng-template>
			</q-grid-column>
			<q-grid-column key="contact.singleEmail" title="Experimental" editor="password">
			</q-grid-column>
		</q-grid-columns>


		<q-grid-data-manipulation>
		</q-grid-data-manipulation>
	</q-grid>
</md-card>