.q-grid-view {
	position: relative;

	&.q-grid-select-range {
		thead, tfoot, tbody {
			td, th {
				@include user-select(none);
				cursor: default;
			}
		}
	}

	> .q-grid-table-left {
		tbody {
			overflow-y: hidden;
		}
	}
}

.q-grid-with-right-pin {
	.q-grid-table-center {
		tbody {
			overflow-y: hidden;
		}
	}
}