<q-grid [caption]="title"
		[rows]="rows | async">
	<q-grid-columns>
		<q-grid-column key="name"
					   title="Name">
		</q-grid-column>
		<q-grid-column key="groupBlock"
					   title="Group">
		</q-grid-column>
		<q-grid-column key="phase"
					   title="Phase"
					   [width]="80">
		</q-grid-column>
		<q-grid-column key="appearance"
					   title="Appearance"
					   [viewWidth]="300">
		</q-grid-column>
		<q-grid-column key="melt"
					   title="Melt(℃)"
					   type="number">
		</q-grid-column>
		<q-grid-column key="boil"
					   title="Boil(℃)"
					   type="number">
		</q-grid-column>
		<q-grid-column key="shells"
					   title="Shells"
					   type="array">
		</q-grid-column>
	</q-grid-columns>

	<q-grid-row unit="details"
				mode="single">
		<ng-template for="details"
					 let-$cell>
			<div class="atom-details">
				<div class="atom-box"
					 [style.background-color]="'#' + $cell.row.item.color">
					<div class="atom-number">
						{{$cell.row.item.number}}
					</div>

					<div class="atom-symbol">
						{{$cell.row.item.symbol}}
					</div>

					<div class="atom-name">
						{{$cell.row.item.name}}
					</div>

					<div class="atom-mass">
						{{$cell.row.item.mass}}
					</div>
				</div>

				<div class="atom-info">
					<p class="atom-description">
						<a href={{$cell.row.item.source}}
						   target="_blank">{{$cell.row.item.name}}
						</a> was discovered by
						<a href="http://www.google.com/search?q={{$cell.row.item.discoveredBy}}"
						   target="_blank">
							{{$cell.row.item.discoveredBy}}
						</a> in
						<em>{{$cell.row.item.discoveredIn}}</em>. {{$cell.row.item.summary}}
					</p>
				</div>
			</div>
		</ng-template>
	</q-grid-row>
</q-grid>