<q-grid caption="Column Password Basic"
        [rows]="rows"
        editMode="cell">
	<q-grid-columns>
		<q-grid-column key="number"
		               title="Number"
		               type="password">
		</q-grid-column>
		<q-grid-column key="bool"
		               title="Bool"
		               type="password">
		</q-grid-column>
		<q-grid-column key="date"
		               title="Date"
		               type="password">
		</q-grid-column>
		<q-grid-column key="null"
		               title="Null"
		               type="password">
		</q-grid-column>
		<q-grid-column key="undefined"
		               title="Undefined"
		               type="password">
		</q-grid-column>
		<q-grid-column key="empty"
		               title="Empty"
		               type="password">
		</q-grid-column>
		<q-grid-column key="maxLength2"
		               title="Max Length 2"
		               maxLength="2"
		               type="password">
		</q-grid-column>
		<q-grid-column key="customTemplate"
		               title="Custom Template"
		               type="password">
			<ng-template for="body"
			             let-$cell>
				<strong>PASSWORD</strong>
			</ng-template>
			<ng-template for="edit"
			             let-$cell
			             let-$view="$view">
				<input style="width: 100%"
				       type="password"
				       q-grid-focus
				       [(ngModel)]="$view.edit.cell.value"
				       (blur)="$view.edit.cell.exit.execute($cell)" />
			</ng-template>
		</q-grid-column>
	</q-grid-columns>
</q-grid>