.q-grid-editor {
	&.q-grid-date {
		.md-datepicker-button {
			@include simpleSquareElement(24px);
			margin-left: 0;
			padding: 0;
		}
		.md-datepicker-triangle-button {
			@include simpleSquareElement(24px);
			margin-right: 0;
			padding: 0;
		}
	}
}